.widget {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    font-family: Manrope;
    width: 100%;
    min-height: 200px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    padding: 16px;
}

.card:hover {
    transform: scaleY(102%) scaleX(101%);
}

.card__infoBlock {
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background-color: white;
}

.card__cover {
    position: absolute;
    inset: 0 0 0 50%;
    display: flex;
    flex-direction: row-reverse;

    @media (min-width: 1440px) {
        inset: 0 0 0 40%;
    }
}

.card__cover img {
    height: 100%;
    object-fit: cover;
    object-position: left;
    max-width: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.card_full {
    grid-column: span 2;
    height: 140px;
    min-height: 140px;

    .card__infoBlock {
        width: calc(60% - 10px);
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .card__cover img {
        inset: 0 0 0 40%;
        object-position: top right;
    }

    .card__title {
        font-size: 18px;
    }

    @media (max-width: 1300px) {
        height: auto;

        .card__infoBlock {
            width: calc(50% - 10px);
        }
    }
}

.link {
    width: 103px;
    height: 33px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #5329FF;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #5329FF1A;
}

.link:hover {
    background-color: #5329FF20;
}