.widget {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    font-family: Manrope;
    width: 100%;
    min-height: 200px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    padding: 16px;
    transition: transform .15s ease-in-out;
}

.card:hover {
    transform: scaleY(102%) scaleX(101%);
}

.card__infoBlock {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    background-color: white;
}

.card__cover {
    position: absolute;
    inset: 0 0 0 50%;
    display: flex;
    flex-direction: row-reverse;
}

.card__cover img {
    height: 100%;
    object-fit: cover;
    object-position: top left;
    max-width: 100%;
}

.card__title {
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}

.card__seo {
    grid-column: span 2;
    height: 140px;
    min-height: 140px;

    .card__infoBlock {
        width: 60%;
        position: relative;
        z-index: 1;
        background-color: transparent;
    }

    .card__cover img {
        inset: 0 0 0 40%;
        object-position: top right;
    }

    .card__title {
        font-size: 18px;
    }
}

.link {
    width: 103px;
    height: 33px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    color: #5329FF;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #5329FF1A;
}

.link:hover {
    background-color: #5329FF20;
}

@media (max-width: 1600px) {
    .card__monitoring, .card__rnp, .card__shops {
        .card__cover {
            inset: 0 0 0 calc(50% + 20px) !important;
        }
    }
}

@media (max-width: 1366px) {
    .widget {
        display: flex;
        flex-direction: column;
    }

    .card {
        height: 140px;
        min-height: 140px;
    }

    .card__monitoring {
        .card__cover img {
            transform: scale(110%);
        }
    }

    .card__seo {
        .card__infoBlock {
            width: 70%;
        }
    }

    .card__rnp {
        .card__cover img {
            width: 90%;
            padding-top: 5px;
            transform: scale(110%);
        }
    }
}

@media (max-width: 1280px) {
    .card__seo {
        min-height: 160px;

        .card__infoBlock {
            width: 60%;
        }
    }
}
