.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    overflow-x: visible;
}

.header__titleBlock {
    width: 100%;
    border-radius: 16px;
    background-color: white;
    /* box-shadow: 0px 0px 20px 0px #00000014; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 18px 32px;
    flex-shrink: 1;
}

.header__title {
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.header__titlePrefix {
    color: silver
}

.header__menu {
    width: auto;
    padding: 18px 32px;
    border-radius: 16px;
    background-color: white;
    /* filter: drop-shadow(0px 0px 20px #00000014); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
}

.header__popover {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.headerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}


.header__statusBannerTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.header__statusBannerTitle span {
    font-weight: 600;
    color: #5329FF;
}



.bottomNavV2 {
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    background: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
.bottomNavV2_header {
    bottom: 0;
    overflow: hidden;
    background: white;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.bottomNavV2_header > a > svg {
    width: 16px;
}
.bottomNavV2 > a > svg {
    width: 16px;
}

.navItem {
    color: #8C8C8C75;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.navItem:hover {
    color: #5329ff80;
}

.navItemActive {
    cursor: pointer;
    color: #5329ff;
    display: flex;
}