.controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.controls__controlWrapper {}

.controls__label {
    font-family: Mulish;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}