/* Radar Table */
.bodyRowSpecial:hover td div {
    background-color: #FAFAFA !important;
    transition: background-color 0.2s ease;
}

.page__tableWrapper {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    position: relative;
    overflow: auto;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #5329ff80 transparent;
}

.page__tableWrapper::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 3px;
}

.page__tableWrapper::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #5329ff80;
}

.page__tableWrapper::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

.page__loaderWrapper {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}


.headerCellWrapperCustomClassName {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}

.customCellBold {
    width: 100%;
    height: 100%;
    font-weight: 700;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}

.customCellBoldTooltip {
    width: 100%;
    height: 100%;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.customCell {
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
}

.customCellIdent {
    padding-left: 30px;
}


/* :global(.radar-table-default__body-row):has(div > .customCell[data-rnp-is-last-child="lastChild"])>td>div {
    border-bottom: 1px solid #E8E8E8 !important;
}


:global(.radar-table__body-row--parent:has(button.radar-table__expander-btn[aria-expanded="false"]) > td > .radar-table__body-cell-wrapper) {
    border-bottom: 1px solid #E8E8E8 !important;
} */

.bodyRowSpecial:hover td div {
    background-color: #FAFAFA !important;
    transition: background-color 0.2s ease;
}

.bodyRowInner:last-of-type td div {
    border-bottom: none !important;
}




/* Inner Table */
.innerTable {
    width: 100%;
    background: #F7F6FE;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-shrink: 0;
}

.innerTable__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.innerTable__headerTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.adCell {
    padding: 6.5px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
}


.nameCell {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}


.nameCell__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.nameCell__imgWrapper {
    width: 43px;
    height: 58px;
    min-width: 45px;
    min-height: 60px;
    max-width: 45px;
    max-height: 60px;
    border: 1.5px solid #0000001A;
    background-color: white;
    overflow: hidden;
    border-radius: 4px;
}

.nameCell__imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.nameCell__titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.nameCell__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nameCell__skuBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5329FF;
    text-decoration: none;
    transition: all .2s ease;
}

.nameCell__skuBlock:hover {
    color: #5329FF;
    opacity: 0.8;
}