.widget__openButton {
    border: none;
    background: transparent;
}
.widget__openButton svg {
   transform: rotate(0deg);
   transition: transform .2s ease-in-out;
}
.widget__openButton_closed svg {
   transform: rotate(180deg);
   transition: transform .2s ease-in-out;
}

.fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 8px;
    background: #F5F4F7;
    padding: 16px 20px;
}

.fieldset__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.fieldset__title {
    font-family: Mulish;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
}

.fieldset__layout {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 3fr) 2fr 2fr;
    grid-template-rows: auto;
    justify-items: stretch;
    border-radius: 8px;
    background: #F5F4F7;

    @media (max-width: 1670px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 1400px) {
        grid-template-columns: 1fr;
    }
}

.form__item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.form__item_mid {
    @media (max-width: 1300px) {
        grid-column: span 2;
    }
}

.form__item_wide {
    grid-column: span 2;

    @media (max-width: 1400px) {
        grid-column: span 3;
    }
}

.form__complexInputWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
}

.form__inputsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.form__inputTextSuffix {
    font-family: Mulish;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.form__dynamicSelectBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
}

.form__dynamicSelectWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.form__doubledLabel {
    font-size: 16px;
    font-weight: 500;
    color: #1A1A1A
}



:global(.rc-virtual-list-scrollbar-thumb) {
    background-color: #A994FF !important;
}

.monthSelect {
   
}

:global(.monthSelect .ant-select-selection-placeholder) {
    color: red !important;
}

.plainSelect__label {
    font-family: Mulish;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: '#1A1A1A';
}

.plainSelect__selectWrapper {
    position: relative;
    width: 100%;
    height: 38px;
    max-height: 38px;
    min-height: 38px;
    box-sizing: border-box;
}

.plainSelect__select {
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, .05);
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    /* padding: 0px 32px 0px 16px; */
    font-family: Mulish;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: '#1A1A1A';
    /* border: 1px  solid rgb(33, 37, 41); */
    /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.plainSelect__select .ant-select-item:hover {
    color: #FF5733; /* Установите нужный цвет для ховера */
}

.plainSelect__iconWrapper {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plainSelect__multiLabel {
    max-width: 170px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
    /* display: flex; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
}

.plainSelect__ddLink {
    width: 100%;
    border-radius: 10px;
    background: #5329FF;
    color: white;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    transition: all .1s ease-in-out;
}

.plainSelect__ddLink:hover {
    color: white;
    opacity: .75;
    
}
