.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5329FF;
    border-radius: 8px;
    color: white;
    font-family: Mulish;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: none;
    padding: 20px;
    margin-top: 10px;
}

.button:disabled {
    opacity: .5;
}

.form :global(.ant-form-item-required:before) {
    display: none !important;
}

.from :global(.ant-form-item-required) {
    @media (max-width: 1919px) {
        font-size: 14px !important;
    }

    @media (max-width: 1440px) {
        font-size: 12px !important;
    }
}
.form :global(.ant-form-item-label > label) {
    @media (max-width: 1919px) {
        font-size: 14px !important;
    }

    @media (max-width: 1440px) {
        font-size: 12px !important;
    }
}
.form :global(.ant-input-affix-wrapper) {
    padding: 0 11px !important;
}

.form :global(.ant-select-selection-wrap) {
    font-size: 20px !important;
    @media (max-width: 1919px) {
        font-size: 18px !important;
        height: 45px !important;
    }
    @media (max-width: 1440px) {
        font-size: 14px !important;
        height: 40px !important;
    }
    @media (max-width: 600px) {
        height: 38px !important;
    }
}


.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
    width: 100%;

    @media (max-width: 600px) {
        gap: 8px;
    }
}

.form__item {
    margin: 0 !important;
    padding: 0 !important;
}

.form__itemWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form__button {
    margin-top: 19px;
    font-weight: 500;
    font-size: 20px;
    height: 68px;

    @media (max-width: 1919px) {
        font-size: 18px !important;
        height: 65px !important;
    }

    @media (max-width: 1440px) {
        font-size: 14px !important;
        height: 60px !important;
    }

    @media (max-width: 600px) {
        height: 58px !important;
    }
}

.form__button:hover {
    background-color: #4D6ECC !important;
    border-color: #4D6ECC !important;
}

.form__input {
    height: 48px !important;
    font-size: 20px !important;
    @media (max-width: 1919px) {
        font-size: 18px !important;
        height: 45px !important;
    }
    @media (max-width: 1440px) {
        font-size: 14px !important;
        height: 40px !important;
    }
    @media (max-width: 600px) {
        height: 38px !important;
    }

}

.form__input::placeholder {
    font-size: 20px;
    @media (max-width: 1919px) {
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
}

.form__input_password {
    padding: 0;
}

.form__text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #222222;
    text-align: justify;

    @media (max-width: 600px) {
        text-align: left;
        font-size: 12px;
    }
}