.widget {
    margin-bottom: 20px;
    font-family: Manrope;
}

.widget__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
}   

.widget__videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 20px;
}

.card {
    width: 100%;
    cursor: pointer;
    transition: transform .15s ease-in-out;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    transform: scaleY(102%) scaleX(101%);
}

.description {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
}

.description__bullet {
    width: max-content;
    padding: 5px 12px;
    border-radius: 6px;
    border: 1px solid #E4DDFF;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF
}








.modal__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 999;
    transform: scale(0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__backdrop_active {
    transform: scale(1);
}

.modal {
    width: 60%;
    height: 75%;
    max-height: 90%;
    aspect-ratio: 4 / 3;
    border-radius: 16px;
    background-color: white;
    position: relative;
    will-change: transform;
    transform: scale(0);
    transition: transform .2s;
    box-shadow: 0px 0px 20px 0px #00000014;
}

.modal_active {
    transform: scale(1);
    transition: transform .2s;
}

.modal__closeButton {
    position: absolute;
    top: 0;
    right: -40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.frame {
    will-change: transform;
    transform: scale(0);
    transition: transform .2s;
}

.frame_active {
    transform: scale(1);
    transition: transform .2s;
}