/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
    overflow-x: hidden;
}

.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
}

.page__mainContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    /* display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 12px;
    justify-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    align-items: stretch; */
}

.page__dndRow {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
    /* border: 1px solid red; */
}

.page__headerWrapper {
    width: 100%;
    margin-bottom: 8px;
}

.page__chartGroup {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.page__chartGroup_oneLine {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 25px;
    box-sizing: border-box;
}

.page__settingsButton {
    height: 38px;
    width: 38px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5329FF1A;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.page__settingsButton:disabled {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: not-allowed;
}



.page__controlsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.page__testWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.group__addRowWrapper {
    grid-column: span 12;
}

.group__addRowContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-radius: 16px;
    color: #5329FF;
    opacity: 0.5;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    grid-column: span 12;
}

.group__doubleBlockWrapper {
    grid-column: span 3;
    grid-row: span 3;
    display: grid;
    min-height: 407px;
}

.group__fullWrapper {
    grid-column: span 12;
    grid-row: span 6;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.group__halfWrapper {
    grid-column: span 6;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.group__halfToFullWrapper {
    grid-column: span 6;
    grid-row: span 3;
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 1360px) {
        grid-column: span 12;
    }
}

.group__lgBarWrapperTop {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 1360px) {
        grid-column: span 4;
    }
}

.group__lgBarWrapper {
    grid-column: span 3;
    grid-row: span 1;
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 1360px) {
        grid-column: span 4;
    }
}