/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
    overflow-x: hidden;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 12px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
}

.page__mainContentWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 12px;
    justify-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;
    align-items: stretch;
}
.page__headerWrapper {
    width: 100%;
    margin-bottom: 8px;
}
.page__chartGroup {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

.page__chartGroup_oneLine {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: 25px;
    box-sizing: border-box;
}



.page__controlsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.page__testWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
}

.group__doubleBlockWrapper {
    grid-column: span 6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    min-height: 407px;
}

.group__fullWrapper {
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.group__halfWrapper {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.group__halfToFullWrapper {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: stretch;
    @media (max-width: 1360px) {
        grid-column: span 12;
    }
}
.group__lgBarWrapper {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: stretch;

    @media (max-width: 1360px) {
        grid-column: span 6;
    }
}
.group__sBarWrapper {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: stretch;
    @media (max-width: 1360px) {
        grid-column: span 3;
    }
}
.group__xsBarWrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    grid-column: span 1;

    @media (max-width: 1360px) {
        grid-column: span 3;
    }
}