.smallButton {
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    cursor: pointer;
    color: #5329FF;
}

.popoverRender {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    min-width: 300px;
}

.popoverRender__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #8C8C8C;
}

.popoverRender__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.popoverRender__item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 24px;
}

.popoverRender__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.popoverRender__text_bold {
    font-weight: 600;
}