.bar {
    box-shadow: 0px 0px 20px 0px #00000014;
    background: white;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    transition: all .1s ease-in-out;
    box-sizing: border-box;
}

.bar:hover {
    transform: scale(101.5%);
}

.bar_float {
    width: 100%;
    box-shadow: 0px 0px 20px 0px #00000014;
    background: white;
    border-radius: 16px;
    padding: 16px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 11px;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}

.bar_float:hover {
    transform: scale(101%);
}

.bar__title {
    font-family: Mulish;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #8C8C8C;
}

.bar__iconWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
}

.bar__mainData {
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;

    @media (max-width: 1300px) {
        font-size: 22px;
    }
}

.bar__mainDataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
}

.bar__mainSubData {
    font-family: Mulish;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A
}

.bar__mainSubData_green {
    color: #00B69B
}

.bar__mainSubData_red {
    color: #F93C65
}

.bar__mainSubData_gray {
    color: #8C8C8C
}

.bar__floatData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar__contentWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.bar__dataWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.bar__loaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    height: 100%;
}

.bar__loaderWrapper_ar {
    width: 100%;
    aspect-ratio: auto;
    height: 100%;
}

.bar__titleWrapper {
    display: flex;
    align-items: center;
    gap: 10px
}

.bar__tooltipIcon {
    cursor: pointer;
    flex-shrink: 0;
}