.bar {
    box-shadow: 0px 0px 20px 0px #00000014;
    background: white;
    border-radius: 16px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 14px;
    transition: all .1s ease-in-out;
    box-sizing: border-box;
}

.bar:hover {
    transform: scale(101.5%);
}

.bar__titleWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.bar__title {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #8C8C8C;
}

.bar__tooltipIcon {
    cursor: pointer;
    flex-shrink: 0;
}

.bar__mainData {
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;

    @media (max-width: 1300px) {
        font-size: 22px;
    }
}

.bar__dataWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px
}

.bar__absoluteData {
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A
}

.bar__secDataWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.bar__mainSubData {
    font-family: Manrope;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    white-space: nowrap;
}

.bar__mainSubData_green {
    color: #00B69B
}

.bar__mainSubData_red {
    color: #F93C65
}

.bar__mainSubData_gray {
    color: #8C8C8C
}

.bar__loaderWrapper {
    width: 100%;
    height: 100%;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}