/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}

.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}

.page__barsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.page__container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.page__selectWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.page__chartWrapper {
    width: 100%;
    background: white;
    border-radius: 16px;
}

.page__tableConfig {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page__tableWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    border-radius: 16px;
    padding: 8px;
}


/* modal */
.addModal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addModal__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.addModal__buttonsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}