/* Page */

.page {
  background-color: #F7F6FE;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.page__content {
  width: calc(100% - 74px);
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;

}

.page__sideNavWrapper {
  height: 100%;
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
}

.page__headerWrapper {
  width: 100%;
}

/* TrandAnalusisQuery */

.control {
  width: 100%;
  border-radius: 16px;
  background-color: white;
  filter: drop-shadow(0px 0px 20px #00000014);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.control__title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.form {
  width: 100%;
}

.input {
  flex-grow: 1;
}

.container_loading {
  min-height: 450px;
}

.container_loading,
.container {
  position: relative;
  /* min-height: 450px; */
  /* height: 100%; */
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.btn_active {
  color: #1A1A1A !important;
  background-color: #5329FF1A !important;
}

.chart {
  margin-bottom: 16px;
}

.btn {
  padding: 9.5px 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: 160%;
  font-weight: 600;
}

.btn svg {
  margin-top: 5px;
}

.btn:hover {
  background-color: #5329FF1A !important;
}

.btn_timeFrame {
  padding: 8px 12px !important;
  font-size: 18px !important;
}

.example {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-top: 4px;
}

.example__button {
  color: #5329FF;
  cursor: pointer;
  margin-left: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  border: none;
  background-color: transparent;
}

.segmented__button {
  border: none;
  border-radius: 8px;
  height: 38px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1A1A1A80;
  background-color: transparent;
  transition: all 0.3s ease;
}

.segmented__button:hover {
  background-color: #5329FF1A;
  color: #1A1A1A;
}

.segmented__button_active {
  background-color: #5329FF1A;
  color: #1A1A1A;
}

.segmented__button_active:hover {
  opacity: 1 !important;
}

.control__header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control__headerTitle {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
  color: #1A1A1A;
}

.bodyRowSpecial:hover td div {
  background-color: #FAFAFA !important;
  transition: background-color 0.2s ease;
}