.block {
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    transition: all .1s ease-in-out;
    width: 100%;
    box-sizing: border-box;
}

.block:hover {
    transform: scale(101%);
}

.block__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.block__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
}

.bar__loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.block__tableRow {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 5px 8px;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    transition: all .2s ease-in-out;

    @media (max-width: 1270px) {
        grid-template-columns: 3fr 3fr;
    }
}

.block__tableRow:hover {
    background: #F2F2F2;
}

.block__tableRow:last-of-type {
    border: none;
}

.block__tableRowTitle {
    width: 100%;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    gap: 10px;
}

.block__tableRowContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 16px;
    justify-items: end;
}

.block__mainData {
    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
}
.block__mainData_small {
    @media (max-width: 1270px) {
        font-size: 12px !important;
    }
}

.block__secDataWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px;
    padding: 2px 6px;
    width: fit-content;
    gap: 4px;
    min-height: 27px;
}

.block__mainSubData {
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
}

.block__mainSubData_green {
    color: #00B69B
}

.block__mainSubData_red {
    color: #F93C65
}

.block__mainSubData_gray {
    color: #8C8C8C
}