.card {
    border-radius: 20px;
    background: white;
    box-shadow: 0px 0px 27px 0px #6F84D726;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-top: 4px solid;
    will-change: transform;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 0.2s ease;

    @media (max-width: 600px) {
        min-width: 268px;
        border-radius: 16px;
        height: 304px;
    }
    @media (max-width: 480px) {
        min-width: 260px;
        border-radius: 16px;
        height: 269px;
    }
}

.card:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);

    @media (max-width: 1050px) {
       transform: none;
       -webkit-transform: none;
    }
}

.card__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (max-width: 1919px) {
        gap: 20px;
    }
    @media (max-width: 480px) {
        gap: 30px;
    }
}

.card__header {
    width: 100%;
    background-color: #E0EBFF;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 66px;

    @media (max-width: 1919px) {
        padding: 0 30px;
        min-height: 65px;
    }
    @media (max-width: 1570px) {
        padding: 0 20px;
    }
    @media (max-width: 1530px) {
        padding: 0 30px;
    }

    @media (max-width: 1199px) {
        padding: 0 20px;
    }

    @media (max-width: 1090px) {
        padding: 0 15px;
    }

    @media (max-width: 1050px) {
        padding: 0 20px;
    }

    @media (max-width: 600px) {
        padding: 0 20px;
        min-height: 68px;
    }
}


.card__bullet {
    color: white;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    background-color: #6083E7;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    height: 32px;

    @media (max-width: 1919px) {
        font-size: 18px;
        padding: 2px 6px;
    }
    @media (max-width: 1440px) {
        font-size: 14px;
        padding: 2px 4px;
    }
}

.card__priceWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1919px) {
       flex-direction: column-reverse;
       align-items: flex-start;
       gap: 16px;
    }
    @media (max-width: 1440px) {
        gap: 10px;
    }
    @media (max-width: 1050px) {
        flex-direction: row;
        align-items: center;
    }
}

.card__oldPrice {
    padding: 6px;
    background-color: #E0EBFF;
    border-radius: 6px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    text-decoration: line-through;
    color: #8F8F8F;

    @media (max-width: 1919px) {
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
}

.card__body {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: 1919px) {
        padding: 30px;
        gap: 30px;
        justify-content: flex-end;
    }
    @media (max-width: 1570px) {
        padding: 20px;
    }
    @media (max-width: 1530px) {
        padding: 30px;
    }
    
    @media (max-width: 1440px) {
        gap: 22px;
    }

    @media (max-width: 1199px) {
        padding: 20px;
    }

    @media (max-width: 1090px) {
        padding: 15px;
        gap: 20px;
    }

    @media (max-width: 1050px) {
        padding: 20px;
        justify-content: space-between;
    }

    @media (max-width: 600px) {
        padding: 30px 20px;
    }

    @media (max-width: 480px) {
        padding: 20px;
        gap: 10px;
    }
}

.card__modalButton {
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    background-color: transparent;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #6083E7;
    cursor: pointer;

    @media (max-width: 1919px) {
        font-size: 18px;
    }

    @media (max-width: 1440px) {
        font-size: 16px;
    }

    @media (max-width: 700px) {
        font-size: 15px;
    }
}

.card__title {
    font-family: 'Manrope';
    color: #222;
    letter-spacing: 0px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 120%;
    text-align: inherit;
}

.card__title_tt {
    font-size: 32px;

    @media (max-width: 1919px) {
        font-size: 30px;
    }

    @media (max-width: 1440px) {
        font-size: 28px;
    }

    @media (max-width: 700px) {
        font-size: 24px;
    }
}

.card__title_qt {
    font-size: 28px;

    @media (max-width: 1919px) {
        font-size: 22px;
    }

    @media (max-width: 1440px) {
        font-size: 19px;
    }
}

.card__actionButton {
    border: none;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: white;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    width: max-content;
    cursor: pointer;
    background-color: #F8BE72;
    padding: 20px 24px;
    transform: scale(1);
    -webkit-transform: scale(1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all .2s ease;

    @media (max-width: 1440px) {
        padding: 20px 24px;
        height: 60px;
    }
    @media (max-width: 1050px) {
        height: auto;
    }
}

.card__actionButton:hover {
    background-color: #FFB049;
    transform: scale(.98);
    -webkit-transform: scale(.98);
}