.breadcrumbs {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.breadcrumbs__link {
    text-decoration: none;
    font-family: Mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A4D;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.breadcrumbs__separator {
    font-family: Mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A4D
}

.breadcrumbs__endOfTheLine {
    font-family: Mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.breadcrumbs__actionsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-left: 12px;
}

.breadcrumbs__actionButton {
    border: none;
    background: transparent;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.breadcrumbs__actionButton:hover {
    transform: scale(103%);
}

