.bar {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    min-height: 90px;
}

.bar__text {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
}

.bar__title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.bar__tooltip {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.bar__ratingWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}