.dragHandle {
    cursor: grab;
    display: grid;
    grid-template-columns: repeat(2, 3px);
    grid-template-rows: repeat(3, 3px);
    column-gap: 8px;
    row-gap: 4px;
    padding: 2px;
    scale: 1;
    transition: all 0.3s ease;
}

.dragHandle__dot {
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dragHandle:hover {
   scale: 1.05;
  
}
.dragHandle:hover .dragHandle__dot {
    background: #5329FF;
}