:global(.ant-popover-inner) {
    padding: 0 !important;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 12px;
    max-height: calc(100dvh - 150px);
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    gap: 8px;
    padding-right: 4px;
}

.modal__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    padding-right: 8px;
}

.modal__closeButton {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 8px;
    height: 12px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.modal__controls {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.modal__readAllButton {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: right;
    color: #5329FF;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 8px;
    padding-right: 4px;
    position: relative;
    border-radius: 8px;
}

.list::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 1px;
}

.list::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #5329ff80;
}

.list::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

.list__blur {
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 4px;
    height: 12px;
    border: 1px solid red;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    pointer-events: none;
    user-select: none;
}

.list__blur_bottom {
    position: absolute;
    bottom: 1px;
    left: 1px;
    right: 10px;
    height: 20%;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px;
    pointer-events: none;
    user-select: none;
}

.list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
    margin: 0;
    padding: 12px;
    width: 100%;
    background-color: #F7F7F7;
    border-radius: 8px;
    max-height: 999px;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
    position: relative;
}

.list__item_new {
    background-color: #F7F6FE;
}

.list__newLabel {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    background-color: #5329FF;
    width: min-content;
}

.list__item:last-of-type {
    border-bottom: none;
}

.list__itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.list__itemHeaderWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.list__itemHeaderWrapper_end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.list__title {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 600;
    color: #1A1A1A;
}

.list__text {
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
    font-size: 12px;
    font-weight: 500;
    color: rgba(140, 140, 140, 1);
}

.list__deleteButton {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 10px
}

.list__itemBody_short {
    width: 100%;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(100% - 14px);
}
.list__itemBody {
    width: 100%;
    font-weight: 500;
    max-width: calc(100% - 14px);
}

.list__noMessages {
    width: 100%;
    min-width: 360px;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}