.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.header__block {
    width: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 0px 15px 0px #00000014;
    padding: 18px 24px;
}

.header__mainBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__titleBlock {
    font-family: Manrope;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}
.header__mainLink {
    text-decoration: none;
}
.header__mainLink img {
    width: 100px;
    height: auto
}
.header__menuButton {
    border: none;
    background: transparent;
    cursor: pointer;
    transform: scale(0.75);
}
.header__messages {
    display: flex;
    align-items: center;
}

.header__signup {
    width: 60%;
    background: #5329FF;
    color: white;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.header__signin {
    width: 60%;
    background: white;
    color: #5329FF !important;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #DDD4FF;
}



.mobileMenu {
    width: 100%;
    height: 50dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}