.chartWrapper {
  padding-top: 20px;
}

.chart {
  width: 100%;
  background: white;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  gap: 16px;
  transition: all 0.1s ease-in-out;
  min-height: 432px;
}

.chart:hover {
  transform: scale(100.25%);
}

.chart__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.chart__title {
  margin: 0;
  padding: 0;
  font-family: Mulish;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.chart__content {
  width: 100%;
  flex: 1;
  min-height: 300px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}

/* Funnel styles */
.funnel {
  width: 100%;
  max-width: 600px;
  position: relative;
}

.funnel__item {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: 80px;

  &:nth-child(3) {
    height: 88px;
  }
  &:nth-child(4), &:nth-child(5) {
    height: 82px;
  }
}

.funnel__content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.funnel__content svg {
  position: absolute;
  top: 0;
}

.funnel__text {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 0 24px;
  gap: 4px;
  pointer-events: none;
}

.funnel__labelText {
  font-family: Mulish;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.funnel__value {
  font-family: Mulish;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.funnel__percentageInfo {
  width: 420px;
  position: absolute;
  top: 40px;
  left: 50%;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.funnel__percentageItemWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 8px;
  height: 75px;
}

.funnel__percentageItem {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.funnel__percentagePercent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.funnel__percentageValueWrapper {
  display: flex;
  gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.funnel__percentageSeparator, .funnel__percentageValue2 {
  color: #1A1A1A80;
}

:global(.ant-segmented-item-label) {
  font-size: 14px;
}

@media (max-width: 1360px) {
  .chart__header {
    flex-direction: column;
    align-items: flex-start;
  }
}

