.filterContainer {
    width: 100%;
    border-radius: 8px;
  }

  .filterControls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .filterControlsWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: flex-end;
  }
  
  .collapseButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: rgba(83, 41, 255, 1);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .filterGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
  
  .applyButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    color: rgba(83, 41, 255, 1);
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(83, 41, 255, 0.1);
    flex-shrink: 0;
  }

  @media screen and (min-width: 2000px) {
    .applyButton{
      margin-top: 1.25em;
      padding: 0.5em 1em;
      font-size: 1rem;
    }
  }