.filterGroup {
    width: 100%;
    /* max-height: 190px; */
    background: rgba(255, 255, 255, 1);
    padding: 12px;
    border-radius: 12px;
  }

  @media screen and (min-width: 2000px) {
    .filterGroup {
      width: 20%!important;
      padding: 1.2rem;
    }
  }

  .loaderWrapper {
    width: 100%;
    height: 135px;
    max-height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
  }
  
  .filterGroupBig {
    width: 100%;
    max-width: 643px;
    height: 190px;
    background: rgba(255, 255, 255, 1);
    padding: 12px;
    border-radius: 12px;
  }
  
  .filterGroup::-webkit-scrollbar {
    background: #5329ff80;
    border-radius: 6px;
    width: 6px;
    height: 10%;
  }
  
  .filterGroup::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .filterGroup::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
  }
  
  .filterGroupBig::-webkit-scrollbar {
    background: #5329ff80;
    border-radius: 6px;
    width: 6px;
    height: 10%;
  }
  
  .filterGroupBig::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  .filterGroupBig::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
  }
  
  .filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .filterHeader h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  @media screen and (min-width: 2000px) {
    .filterHeader h3 {
      font-size: 1rem;
      line-height: 1.25;
    }
  }

  .clearButton {
    background: none;
    border: none;
    color: rgba(26, 26, 26, 0.5);
    font-size: 14px;
    font-weight: 600;
    line-height: 17.5px;
    cursor: pointer;
    padding: 4px 4px;
    min-width: 100px;
  }

  @media screen and (min-width: 2000px) {
    .clearButton {
      font-size: 0.875rem;
      line-height: 1.25;
    }
  }

  .clearButton:hover {
    text-decoration: underline;
  }
  
  .optionsList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-height: 135px;
    overflow-y: auto;
  }

  .optionsList::-webkit-scrollbar-track {
    background: white;
  }
  
  .optionsList::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
    visibility:hidden;
  }
  .optionsList:hover::-webkit-scrollbar-thumb {
    visibility:visible;
  }
  
  .optionsList::-webkit-scrollbar {
    background: #5329ff80;
    border-radius: 6px;
    width: 6px;
    height: 10%;
  }
  
  @media screen and (min-width: 2000px) {
    .optionsList {
      max-height: 15vh;
    }
  }

  .optionLabel {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
    color:rgba(26, 26, 26, 1);
    padding: 2px 0 2px 0;
  }
  
  @media screen and (min-width: 2000px) {
    .optionLabel {
      font-size: 0.875rem;
      line-height: 1.25;
    }
  }

  .optionLabel input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(204, 204, 204) !important;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
  .optionLabel input[type="checkbox"]:checked {
    background-color: rgb(84, 41, 255);
    border: rgb(84, 41, 255) !important;
  }
  
  .optionLabel input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Default style for regular size */
  .optionLabel span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
    display: inline-block;
    vertical-align: middle;
  }
  
  @media screen and (min-width: 2000px) {
    .optionLabel span {
      max-width: 100%!important;
    }
  }
  
  /* Style for big size */
  .filterGroupBig .optionLabel span {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    max-width: none;
  }
  
  .checkbox {
    flex: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }