.navLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
    text-decoration: none;
    transition: all .3s ease-out;
    padding: 8px 20px 8px 20px;
    border-radius: 4px;
    width: 100%;
}

.navLink > svg {
    /* width: 19px; */
    /* height: 18px; */
}

.navLink:hover {
    color: #1A1A1A;
    background: #F7F6FE;
}

.navLink:hover>svg {
    color: #5329FF;
}

.navLink_active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    width: 100%;
}

.navLink__lineWrapper {
    width: 100%;
    padding: 12px 20px;
}

.navLink__lineWrapper:after {
    content: '';
    display: block; 
    height: 1px;
    background: #00000012;
    width: 100%;
}

.navLink_active>svg {
    color: #5329FF
}

.navLink_activeNoIcon {
    font-weight: 700;
    color: #1A1A1A;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    padding: 8px 20px 8px 0;
}

.navLink_activeNoIcon:hover {
    background: none !important;
}

.navLink_activeNoIcon::before {
    content: ' ';
    width: 8px;
    height: 8px;
    border-radius: 50% 50%;
    background: #5329FF;
    flex-grow: 0;
    flex-shrink: 0;
}

.navLink__iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8C8C8C;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
}

.navLink__iconWrapper:hover {
    background: #F7F7F7;
}

.navLink__iconWrapper_active {
    color: #5329FF
}

.navLink__newIcon {
    width: 39px;
    min-width: 39px;
    max-width: 39px;
    height: 26px;
    min-height: 26px;
    max-height: 26px;
    /* height: 100% !important; */
    /* min-height: 44px; */
}