.block {
    width: 100%;
    /* box-shadow: 0px 0px 20px 0px #00000014; */
    padding: 16px;
    border-radius: 8px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.block__titleWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.block__title {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}
.block__text {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.block__addButton {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    color: #5329FF;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}