.widget {
    width: 100%;
    height: auto;
    min-height: 660px;
    max-height: 90vh;
    background: white;
    border-radius: 16px;
    overflow: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    transform: scale(100%);
}

.widget__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0px 0px 20px 0px #00000014;
    padding-bottom: 16px;
}

.widget__container {
    width: 100%;
    padding-left: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.widget::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.widget::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

.widget::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.widget__loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    max-height: 500px;
    height: 100%;
    /* padding: 16px; */
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: stretch;
}

.tableContainer {
    max-height: fit-content;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}

.tableContainer :global(.ant-table-tbody-virtual-scrollbar-vertical .ant-table-tbody-virtual-scrollbar-thumb),
.tableContainer :global(.ant-table-tbody-virtual-scrollbar-horizontal .ant-table-tbody-virtual-scrollbar-thumb) {
    border-radius: 6px !important;
    background: #5329ff80 !important;
}

.tableContainer :global(.ant-table-tbody-virtual-scrollbar-horizontal .ant-table-tbody-virtual-scrollbar-thumb) {
    height: 5px !important;
}

.tableContainer :global(.ant-table-tbody-virtual-scrollbar-vertical .ant-table-tbody-virtual-scrollbar-thumb) {
    width: 5px !important;
}

.tableContainer :global(.ant-table-tbody-virtual-holder) {
    /* max-height: 100%!important; */
}


  .tableContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 6px!important;
    opacity: 1;
  }
  
  .tableContainer::-webkit-scrollbar-track {
      background: transparent;
      height: 50%;
      margin: 10px 20px;
  }
  
  .tableContainer::-webkit-scrollbar-thumb {
      background: #5329ff80;
      border-radius: 6px;
  }

.tableContainer thead>tr>th {
    border: none;
}

.tableContainer thead>tr>th:first-child {
    /* border-bottom-left-radius: 20px; */
}

.tableContainer thead>tr>th:last-child {
    /* border-bottom-right-radius: 20px; */
}

.tableContainer thead>tr>th {
    height: 70px;
}

.tableContainer thead>tr>th>div {
    gap: 8px;
}

.tableContainer thead>tr>th::before {
    height: 100% !important;
    background-color: #e8e8e8 !important;
}

.tableContainer .ant-table-column-title {
    flex: auto !important;
}

.expandBtn {
    margin-right: 12px;
    height: 18px;
}

.expandIcon {
    width: 14px;
}

.expandIconExpanded {
    transform: rotate(180deg);
}

.expandRow {
    opacity: 0.5;
}

/* :global(.ant-table-container),
  :global(.ant-table-header), 
  :global(.ant-table-body) {
    scroll-behavior: auto !important;
    scroll-behavior: auto;       /* Отключает плавный скролл *
    overscroll-behavior: none;   /* Отключает эффекты overscroll *
    -webkit-overflow-scrolling: auto; /* Для Safari *
  } */

.sortIcons {
    margin-left: 10px;
    margin-right: 10px;
}

:global(.ant-table-column-has-sorters) {
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
    /* Стандартное свойство */
    -webkit-user-select: none;
    /* Для Safari */
    -moz-user-select: none;
    /* Для Firefox */
    -ms-user-select: none;
    /* Для IE/Edge */
}

:global(.table__mainHeader) {
    text-align: left !important;
    color: 'black' !important;
    font-family: Mulish !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 100%;
    letter-spacing: 0%;
}

:global(.table__mainHeader_colored) {
    background: #F6F4FF !important;
    border: none !important;
    text-align: left !important;
    font-family: Mulish !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 100%;
    letter-spacing: 0%;
}

:global(.cell__red) {
    background: #F6F4FF !important;
    border: none !important;
}

:global(.first__cell) {
    border-right: 1px solid #E8E8E8 !important;
}

.summaryRow,
.summaryRow :global(.ant-table-cell-fix-left) {
    background-color: rgb(238 234 255);
}

.row {
    border-bottom: 1px solid #E8E8E8;
}

.row:last-of-type {
    border: none;
}

/* :global(.ant-table-body) {
   height: 100% !important;
   max-height: none !important;
}
:global(.ant-table) {
   height: 100% !important;
   max-height: none !important;
   border: 2px solid black;
}
:global(.ant-table-wrapper) {
   height: 100% !important;
   max-height: none !important;
  
} */

:global(.ant-table-body::-webkit-scrollbar) {
    width: 3px;
    height: 3px;
    border-radius: 6px !important;
    opacity: 1;
}

:global(.ant-table-body::-webkit-scrollbar-track) {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

:global(.ant-table-body::-webkit-scrollbar-thumb) {
    background: #5329ff80 !important;
    border-radius: 6px;
}

:global(.ant-table-body) {
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #5329ff80 transparent; /* Для Firefox */
}

