.group {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 12px;
    justify-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;

   
    @media (max-width: 1360px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.group__3cols {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    box-sizing: border-box;
    @media (max-width: 1360px) {
        grid-column: span 3;
    }
}