.widget {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
}

.widget__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.widget__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.widget__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.widget__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

.widget__blockTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.widget__searchContainer {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}