@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.page__tariffsList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: stretch;

    /* @media (max-width: 1600px) {
        grid-template-columns: repeat(3, 1fr);
    } */
}

.page__tariffsListOld {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: stretch;

    @media (max-width: 1330px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.testButtons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.testButtons button {
    padding: 0 12px;
    border-radius: 8px;
    background-color: #5329FF;
    border: none;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    color: white;
}

.widget__tabs {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    animation: fadeInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}

.widget__tab {
    height: 38px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    border: 1px solid #5329FF33;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    background-color: transparent;
    color: #1A1A1A80;
    transition: all .2s ease;
}

.widget__tab:not(.widget__tab_active):hover {
    opacity: .5;
}

.widget__tabDiscount {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #5329FF1A;
    color: #5329FF;
}

.widget__tabDiscount_active {
    padding: 2px 4px;
    border-radius: 4px;
    background-color: white;
    color: #5329FF;
}

.widget__tab_active {
    color: white;
    background-color: #5329FF;
    border-color: #5329FF;
}


.tariffCard {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
    animation: fadeInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards;
}

.tariffCard__mainWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
}

.tariffCard__accordSummary {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}

.tariffCard__accordSummary span {
    font-size: 10px;
    color: #00B69B;
    background-color: #00B69B14;
    border-radius: 4px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tariffCard__accordContent {
    max-height: 0;
    opacity: 0;
    transition: max-height .2s ease-in-out, opacity 0.05s ease-in-out;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tariffCard__accordContent_open {
    max-height: 2000px;
    opacity: 1;
    margin-top: 8px;
}

.tariffCard__accordContent>li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #E8E8E8;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.tariffCard__innerList {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tariffCard__innerList>li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
}

.tariffCard__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.page__tariffsList>.tariffCard:nth-child(1) {
    animation-delay: 0.05s;
}

.page__tariffsList>.tariffCard:nth-child(2) {
    animation-delay: 0.1s;
}

.page__tariffsList>.tariffCard:nth-child(3) {
    animation-delay: 0.15s;
}

.page__tariffsList>.tariffCard:nth-child(4) {
    animation-delay: 0.2s;
}

.tariffCard__header {
    background-color: #F0AD001A;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 8px;
}

.tariffCard__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.tariffCard__title:before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--pseudo-bg-color);
    border-radius: 4px;
}

.tariffCard__discount {
    border-radius: 4px;
    background-color: #F0AD00;
    display: flex;
    padding: 2px 4px;
    color: white;
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;

}

.tariffCard__price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.tariffCard__newPrice {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tariffCard__oldPrice {
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #8C8C8C;
    text-decoration: line-through;
}

.tariffCard__divider {
    height: 1px;
    background-color: #E8E8E8;
    border: none;
}

.tariffCard__infoButton {
    background-color: #5329FF0D;
    border: none;
    border-radius: 8px;
    color: #5329FF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
    padding: 4px 8px;
    width: min-content;
    white-space: nowrap;
}

.tariffCard__activateButton {
    background-color: #5329FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 46px;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.tariffCard__features {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 8px;
}

.tariffCard__featuresListWrapper {
    display: flex;
    flex-direction: column;
}

.tariffCard__featuresListWrapper>span {
    font-weight: 500;
    font-size: 10px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.tariffCard__featuresList {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.tariffCard__feature {
    border-radius: 8px;
    padding: 0px;
    background-color: #F7F7F7;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    opacity: 0;
}

.tariffCard__feature_visible {
    max-height: 200px;
    padding: 12px;
    opacity: 1;
}

.tariffCard__someText {

    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}






.calcBlock {
    /* grid-column: 4 / 5; */
    /* grid-row: 1 / 3; */
    min-height: 429px;
    width: 100%;
    border-radius: 16px;
    padding: 16px;
    background-color: #E7E1FE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    animation: fadeInUp 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.25s backwards;
}

.calcBlock__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.calcBlock__header hr {
    margin: 0;
    padding: 0;
    height: 1px;
    background-color: white;
    border: none;
}

.calcBlock__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.calcBlock__text {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}

.calcBlock__button {
    height: 46px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5329FF;
    background-color: white;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    z-index: 1;
}

.calcBlock__imageWrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    /* height: 100%; */
    max-height: 272px;
    z-index: 0;
    overflow: hidden;
}

.calcBlock__imageWrapper img {
    width: 100%;
    object-fit: contain;
}


.fakePaymentModal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.fakePaymentModal__smallText {
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fakePaymentModal__text {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
}

.fakePaymentModal__button {
    width: 100%;
    height: 46px;
    border-radius: 8px;
    background-color: #5329FF;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
}



