.modal {
    width: 100%;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.modal__titleWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.modal__title {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.modal__message {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}