.widget {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    border-radius: 20px;
    padding: 50px;

    @media (max-width: 1680px) {
        padding: 40px;
    }

    @media (max-width: 1050px) {
        padding: 30px;
        flex-direction: column;
        gap: 30px;
    }
}

.widget_success {
    background: linear-gradient(287.63deg, #D5CBFE -37.69%, #D4E5FE 29.38%, #E6F5FF 60.89%, #E6EAFF 99.36%);
    position: relative;
    overflow: hidden;
}

.widget_success:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('./success_bg.png');
    background-size: cover;
    transform: translateX(-10%) translateY(10%) scale(.9);
    background-position: center top;
    background-repeat: no-repeat;
    border-radius: 20px;
    opacity: .5;
}

.widget_fail {
    background: linear-gradient(76.56deg, #ECF2FF 8.09%, #FEF0E7 89.79%);
}

.widget_textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;

    @media (max-width: 1680px) {
        max-width: 490px;
    }

    @media (max-width: 1280px) {
        max-width: 400px;
    }

    @media (max-width: 1050px) {
        max-width: 100%;
        gap: 20px;
    }

}

.widget_imgWrapper {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    max-width: 513px;
    z-index: 1;

    @media (max-width: 1680px) {
        max-width: 490px;
    }

    @media (max-width: 1380px) {
        max-width: 410px;
    }

    @media (max-width: 1050px) {
        max-width: 100%;
    }
}

.widget_imgWrapper>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;

}

.widget_buttonWrapper {
    margin-top: 16px;

    @media (max-width: 1050px) {
        margin-top: 10px;
    }
}

.widget__title {
    font-family: 'Manrope', 'Manrope', sans-serif;
    color: #222222;
    letter-spacing: 0px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 120%;
    text-align: inherit;
    font-size: 52px;

    @media (max-width: 1680px) {
        font-size: 42px;
    }
    @media (max-width: 1380px) {
        font-size: 40px;
    }
    @media (max-width: 600px) {
        font-size: 30px;
    }
}

.widget__text {
    font-family: 'Manrope', 'Manrope', sans-serif;
    color: #222222;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
    font-size: 14px;

    @media (max-width: 1680px) {
        font-size: 14px;
    }
    @media (max-width: 1380px) {
        font-size: 14px;
        max-width: 268px;
    }
    @media (max-width: 1050px) {
        font-size: 14px;
        max-width: 100%;
    }
    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 130%;
    }
}

.widget__link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    color: white;
    font-family: 'Manrope', 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    width: max-content;
    cursor: pointer;
    background-color: #6083E7;
    padding: 20px 24px;

    @media (max-width: 1380px) {
        font-size: 16px;
    }
    @media (max-width: 1050px) {
        font-size: 14px;
    }
}