.page {
  background-color: #F7F6FE;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  min-width: 1200px;
}
.page__content {
  width: 100%;
  padding: 30px 52px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
}
.page__mainWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  padding-right: 52px;
}
.page__sideNavWrapper {
  height: 100%;
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
}
.page__headerWrapper {
  width: 100%;
}

.page__controlsWrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.page__controlsButtonsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 12px;
}

.page__tableSettingsBlock {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

