.filters {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.filters__inputsMainWrapper {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.filters__inputWrapper {
    max-width: 240px;
    min-width: 190px;
    flex-grow: 1;
    width: max-content
}
.filters__inputWrapper_month {
    max-width: 240px;
    min-width: 190px;
    flex-grow: 1;
    width: max-content
}

.filters__inputWrapper_month :global(input) {
    border: none !important;
    outline: none !important;
}

.filters__submitButton {
    border: none;
    background: none;
    height: 38px;
    color: #5329FF;
    background: #5329FF1A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    padding: 0 12px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    align-self: flex-end;
    transition: all 0.2s ease-in-out;
}
.filters__submitButton:hover {
   opacity: 0.8;
   cursor: pointer;
}
.filters__submitButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(100%);
}