@keyframes bgColor {
    0% {
        background-color: #E7E1FE50;
    }

    2% {
        background-color: #E7E1FE75;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes buttonWave {
    0% {
        box-shadow: 0 0 0 0 rgba(83, 41, 255, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(83, 41, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(83, 41, 255, 0);
    }
}

.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: #FDFCFF;
    border-radius: 16px;
    padding: 20px;
    position: relative;
   
}

.widget__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.widget__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
}

.widget__openButton {
    border: none;
    background: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    width: 86px;
}

.widget__openButton_opened svg {
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

.widget__openButton_closed svg {
    transform: rotate(0deg);
    transition: all .2s ease-in-out;
}

.widget__body {
    width: 100%;
    overflow: hidden;
    height: auto;
    max-height: 0;
    transform: scale(0) translateY(-100);
    opacity: .25;
    transform-origin: top;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.widget__body_visible {
    margin-top: 16px;
    height: auto;
    max-height: none;
    overflow: visible;
    opacity: 1;
    transform: scale(1) translateY(0);
    transition: all .3s ease-in-out;
}

.widget__datapicker {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px
}

.widget__loaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* backdrop-filter: blur(2px); */
    z-index: 9999;
    border-radius: 16px;
    background: rgba(255, 255, 255, .4);

}


.widget__headerWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px
}

.widget__howtoWrapper {
    width: 100%;
    margin-bottom: 20px;
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.form__fieldset {
    width: 100%;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.form__fieldset:last-of-type {
    border: none;
}

.form__fieldsetHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.form__fieldsetTitle {
    font-family: Mulish;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    margin: 0;
    padding: 0;
}

.form__fieldsetText {
    font-family: Mulish;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A50;
}

.form__fieldsetLayout {
    width: 100%;
    display: grid;
}

.form__fieldsetLayout_1col {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 1376px) {
        grid-template-columns: repeat(1, 1fr);
    }

}

.form__fieldsetLayout_3cols {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.form__fieldsetLayout_5cols {
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    gap: 10px;

    @media (max-width: 1376px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.form__doudleWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
}

.form__twoInputsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
}

.form__doubledLabel {
    font-size: 12px;
    font-weight: 500;
    color: #1A1A1A
}

.form__controlButtonsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    button {
        font-size: 14px;
    }
}

.form__dateSelectWrapper {
    width: 240px;
    position: relative;
}

.form__multiLabel {
    display: block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 110%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.form__dynamicSelectBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 8px;
}

.form__dynamicSelectWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.form__exampleDataInput {
    border-radius: 8px;
    animation: bgColor 3s ease-in-out;
}

.form__exampleDataButton {
    width: 187px;
    height: 46px;
    animation: buttonWave 2s infinite;
}

:global(.ant-select-selection-overflow) {
    flex-wrap: nowrap !important;
    justify-content: stretch !important;
}

:global(.ant-select-selection-overflow-item) span {
    display: flex;
    width: 100% !important;
    flex-shrink: 1;
    flex-grow: 1;
}

