@keyframes shake {
    0% { transform: rotate(0); }
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-15deg); }
    60% { transform: rotate(7deg); }
    80% { transform: rotate(-7deg); }
    100% { transform: rotate(0); }
  }
.menuIcon {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: transform .2s ease-in;
}
.ringIcon {
    width: 32px;
    height: 32px;
    display: flex;
    flex: 0 0 32px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    transition: all .2s ease;
    /* transition: transform .1s ease-in; */
    transform-origin: top center;
    color: #1A1A1A;
    border-radius: 50%;
}
.menuIcon:hover {
    transform: rotate(100deg) scale(110%);
}

.ringIcon:hover {
    color: #5329FF;
    background-color: #5329FF1A;
    transform: scale(1.05);
}
.ringIcon:hover > svg {
    /* animation: shake 0.5s ease-in-out; */
}
.icon__messageCounter {
    padding: 0px 5px;
    aspect-ratio: 1 / 1;
    border-radius: 50% 50%;
    background: #FF0000;
    position: absolute;
    top: -6px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 'Mullish';
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
}

.profileIcon {
    position: relative;
    color: #1A1A1A;
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .2s ease;
    cursor: pointer;
}

.profileIcon:hover {
    background-color: #5329FF1A;
    color: #5329FF;
    transform: scale(1.1);
}