:global(.stockAnalysisBlockTableGroupCell) {
    color: black !important;
}
:global(.stockAnalysisBlockTableGroupCell > div) {
    background-color: white !important;
    border-radius: 0 !important;
}

.block {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    /* transition: all .1s ease-in-out; */
}
.block:hover {
    /* transform: scale(100.5%); */
}

.bar__loaderWrapper {
    width: 100%;
    aspect-ratio: 3 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.block__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A
}

.block__mainLink {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    background: #5329FF0D;
}

.block__headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

/* TABLE */

.block__table {
    width: 100%;
    overflow: auto;
}

.tableHeaderRow {
}

.tableHeaderGroup {
}

.tableHeaderCell {
    background-color: '#F7F6FE' !important;
    overflow: hidden;
    height: 1px;
}

.tableHeaderCell:first-of-type {
    border-top-left-radius: 12px !important;
    border-bottom-left-radius: 12px !important;
}

.tableHeaderCell:last-child {
    border-top-right-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
}

.tableHeaderCellWrapper {
    background-color: '#F7F6FE' !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    height: 1px;
    padding: 24px 15px !important;
}