.block {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    transition: all .1s ease-in-out;
    /* margin-top: 12px; */
    min-height: 213px;
}

.block:hover {
    transform: scale(100.5%);
}

.bar__loaderWrapper {
    width: 100%;
    height: 100%;
    min-height: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.block__title {
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A
}

.block__mainLink {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    background: #5329FF0D;
}

.block__headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}
.block__table {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.block__tableRow {
    width: 100%;
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    padding: 8px;
    border-bottom: 1px solid #E8E8E8;
    min-height: 47px;
}

.block__tableRow:last-of-type {
    border: none
}

.block__tableCell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    gap: 16px;
    font-family: Mulish;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.block__tableCell span {
    font-size: 14px;
}

.block__tableCellMainData {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.block__tableCellPercentData {
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 4px 8px;
    border-radius: 4px;
}