.card {
  width: 100%;
  height: 100%;
  background: transparent;
  background: white;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  box-shadow: 0px 0px 20px 0px #00000014;
  overflow: hidden;

}

.card__coverWrapper {
  width: 100%;
  aspect-ratio: 3 / 2;
  background: white;
  overflow: hidden;
  border-bottom: 1px solid #E8E8E8;
  flex-grow: 0;
  flex-shrink: 0;
}

.card__coverWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.card__titleWrapper {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__tagsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  flex-grow: 0;
  flex-shrink: 0;
}

.card__tag {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 26.86px;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.card__text {
  font-family: Manrope;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
}

.card__text_gray {
  color: #00000080;
}

.card__title {
  font-family: Manrope;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.card__controlsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.card__button {
  font-family: 10px;
}

.card__buttonWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

.modal {
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-family: Manrope;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}