.widget {
    width: 100%;
    display: grid;
}

.widget_hasAddBlock {
    grid-template-columns: 1fr 300px;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
}

.widget_noAddBlock {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

/* add block */
.addBlock {
    width: 100%;
    grid-row: span 3;
    background: white;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.addBlock__wrapper {
    width: 100%;
    max-width: 503px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.addBlock__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1A1A1A;
}

.addBlock__form {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.addBlock__formItem {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
}