.container {
  position: relative;
  /* height: 100%; */
  /* min-height: 450px; */
  overflow: hidden
}

.tableContainer {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #5329ff80 transparent;
}

.tableContainer::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #5329ff80;
}

.tableContainer::-webkit-scrollbar-track {
  background: transparent;
  height: 50%;
  margin: 10px 20px;
}

.loading {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.bodyRowSpecial:hover td div {
  background-color: #FAFAFA !important;
  transition: all 0.2s ease;
}


.headerCellWrapperCustomClassName {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
}

.customCellBold {
  width: 100%;
  height: 100%;
  font-weight: 700;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
}
.customCellBoldTooltip {
  width: 100%;
  height: 100%;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}
.customCell {
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 1 !important;
}


:global(.radar-table-default__body-row):has(div > .customCell[data-rnp-is-last-child="lastChild"]) > td > div {
  border-bottom: 1px solid #E8E8E8 !important;
}

/* Родительская строка в состоянии СВЕРНУТО (aria-expanded=false) */
:global(.radar-table__body-row--parent:has(button.radar-table__expander-btn[aria-expanded="false"]) > td > .radar-table__body-cell-wrapper) {
  border-bottom: 1px solid #E8E8E8 !important;
}