.modal :global(.ant-modal-content){
  border-radius: 16px!important;
  padding: 24px!important;
}

.modal :global(.ant-form-item) label{
  font-weight: 500;
}
.modal :global(.ant-radio-label){
  padding-inline-start: 16px!important;
  font-weight: 600;
}

.modal :global(.ant-modal-title) {
  margin-bottom: 16px;
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: #1a1a1a;
}

.modal__part {
  margin-bottom: 16px;
}

.modal__part :global(.ant-select-selection-search-input){
  border-color: transparent!important;
}

.modal__subtitle {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  color: #1a1a1a;
}

.info__icon {
  width: 20px;
}

.close__icon {
  width: 20px;
}