.table__rowItem {
    width: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.table__rowImgWrapper {
    width: 45px;
    height: 60px;
    border-radius: 3px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.table__rowImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.table__mainTitleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 0;
}
.table__actionsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.table__rowTitle {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    /* color: #5329FF; */
    margin: 0;
    padding: 0;
}


.table__actionButton {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #F7F7F7;
}