.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.widget__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 52px;
}

.widget__title {
    margin: 0;
    padding: 0;
    font-family: Mulish;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.widget__tableWrapper {
    position: relative;
    width: 100%;
    border-radius: 16px;
    background: white;
    padding: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    max-height: 90dvh;
}

/* TABLE */
.widget__tableWrapper thead>tr>th {
    border: none;
}

.widget__tableWrapper thead>tr>th:first-child {
    border-bottom-left-radius: 20px;
}

.widget__tableWrapper thead>tr>th:last-child {
    border-bottom-right-radius: 20px;
}

.widget__tableWrapper thead>tr>th {
    height: 70px;
}

.widget__tableWrapper thead>tr>th>div {
    gap: 8px;
}

.widget__tableWrapper thead>tr>th::before {
    height: 100% !important;
    background-color: #e8e8e8 !important;
}

.widget__tableWrapper .ant-table-column-title {
    flex: auto !important;
}


/* GLOBAL */
.widget__tableWrapper :global(.ant-table-tbody-virtual-scrollbar-vertical .ant-table-tbody-virtual-scrollbar-thumb),
.widget__tableWrapper :global(.ant-table-tbody-virtual-scrollbar-horizontal .ant-table-tbody-virtual-scrollbar-thumb) {
    border-radius: 6px !important;
    background: #5329ff80 !important;
}

.widget__tableWrapper :global(.ant-table-tbody-virtual-scrollbar-horizontal .ant-table-tbody-virtual-scrollbar-thumb) {
    height: 5px !important;
}

.widget__tableWrapper :global(.ant-table-tbody-virtual-scrollbar-vertical .ant-table-tbody-virtual-scrollbar-thumb) {
    width: 5px !important;
}

:global(.ant-table-column-has-sorters) {
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
    /* Стандартное свойство */
    -webkit-user-select: none;
    /* Для Safari */
    -moz-user-select: none;
    /* Для Firefox */
    -ms-user-select: none;
    /* Для IE/Edge */
}