.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    max-height: 80vh;
}

.widget__tableWrapper {
    width: 100%;
    overflow: auto;
}

.widget__tableWrapper::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}
  
.widget__tableWrapper::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}
  
.widget__tableWrapper::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.widget__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-right: 52px;
}
.widget__header_hidden {
    display: none;
}

.widget__title {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}







.loaderWrapper {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 1;
}

.dataExistLoader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF85;
    z-index: 1000;
}

.errorWrapper {
    width: 100%;
    height: 598px;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.errorWrapper__message {
    display: flex;
    align-items: center;
    gap: 8px;
}


.adCell {
    padding: 6.5px 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
}


.nameCell {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}


.nameCell__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.nameCell__imgWrapper {
    width: 45px;
    height: 60px;
    min-width: 45px;
    min-height: 60px;
    max-width: 45px;
    max-height: 60px;
    border: 1.5px solid #0000001A;
    background-color: #8C8C8C;
    overflow: hidden;
    border-radius: 4px;
}

.nameCell__imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.nameCell__titleBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.nameCell__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nameCell__skuBlock {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5329FF;
    text-decoration: none;
    transition: all .2s ease;
}

.nameCell__skuBlock:hover {
    color: #5329FF;
    opacity: 0.8;
}




.table__actionsWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.table__actionButton {
    width: 24px;
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: #F7F7F7;
}
