/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}

.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}

.page__searchBlockWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
}

.page__searchBlockTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.page__filtersWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.page__tableWrapper {
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.page__summary {
    display: flex;
    align-items: center;
    gap: 20px;
}

.page__summaryItem {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
}

.page__summaryItem span {
    color: #1A1A1A;
}

.page__chart {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(8, 46px);
    gap: 4px;
    grid-template-columns: repeat(100, 1fr)
}

.page__chartItem {
    height: 100%;
    border-radius: 8px;
    padding: 4px 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: padding-box;
}

.page__chartItemTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page__chartItemValue {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}