.widget {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1400px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.widget__smallBarsWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-column: span 2;
}

.widget__largeBarWrapper {
    width: 100%;
    grid-column: span 2;
}

.widget__loaderWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}