.modal {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.modal__title {
    font-family: 'Manrope';
    font-size: 24px;
    line-height: 100%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.modal__searchForm {
    width: 100%;
}

.modal__filter {
    width: 100%;
}

.modal__input {
    width: 100%;
}

.modal__list {
    padding-bottom: 12px;
    width: 100%;
    max-height: 496px;
    overflow: auto;
    row-gap: 12px;
    column-gap: 16px;
}

.modal__defaultButton {
    border: none;
    background: transparent;
    color: #5329FF;
    cursor: pointer;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    margin-right: 20px;
}