/* search */
.search {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.search__title {
    font-family: Mulish;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.search__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.search__input {
   height: 44px;
   flex: 1;
}
.search__input::placeholder {
    font-size: 16px;
}

.search__button {
    padding: 0 11px;
    height: 45px;
    font-size: 16px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 8px;
}

