/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.page__content {
    width: 100%;
    padding: 30px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}



.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.filtersWrapper {
    width: 100%;
    max-width: 78vw;
    margin: 20px auto;
    padding: 0 1rem;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.closeBtnModal {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    
}
.modalFooter{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.modalContent{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    min-width: 1100px;
    max-width: 90%;
    padding: 30px;
    position: relative;
    text-align: center;
}
.modalBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalHeaderTitle{
    color: #1A1A1A;
    font-size: 24px;
    font-weight: 700;

}

.underHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
