.modalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.closeBtnModal {
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    
}
.modalFooter{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}


.modalContent{
    background-color: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    min-width: 1100px;
    max-width: 90%;
    padding: 30px;
    position: relative;
    text-align: center;
}
.modalBody{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalHeaderTitle{
    color: #1A1A1A;
    font-size: 24px;
    font-weight: 700;

}

.underHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.widePlateAbc{
    margin-top: 10px;
}

.firstBlockDashboard,.secondBlockDashboard{
    gap: 15px!important;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: max-content
}
.thirdBlockDashboard{
    
    display: flex;
    flex-direction: column;
}
.thirdBlockDashFirstLine{
    gap: 15px!important;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 43vh
}
.thirdBlockDashSecondLine{
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    gap: 15px!important;
    margin-top: 15px;
    height: max-content;
}

.chartWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.revenueStorageChart .chart-container{
    max-height: 200px!important;

}
@media (min-width: 1600px) and (max-width: 2000px) { 
    .numbers{
        font-weight: 700;
        font-size: 20px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 16px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 12px;
    }

}

@media (min-width: 1400px) and (max-width: 1599px) { 
    .numbers{
        font-weight: 700;
        font-size: 20px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 16px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 12px;
    }

}


@media (min-width: 1200px) and (max-width: 1399px) { 
    .numbers{
        font-weight: 700;
        font-size: 18px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 14px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 10px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) { 
    .numbers{
        font-weight: 700;
        font-size: 16px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 12px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 8px;
    }
    .MediumPlateIcon{
        width:40px;
    }

    .doughnutMobile{
        width: 350px!important;
    }
}


@media (min-width: 768px) and (max-width: 991px) { 
    .numbers{
        font-weight: 700;
        font-size: 20px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 16px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 12px;
    }
    .MediumPlateIcon{
        width:45px;
    }


}


@media (min-width: 576px) and (max-width: 767px) { 
    .numbers{
        font-weight: 700;
        font-size: 20px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 16px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 12px;
    }
    .MediumPlateIcon{
        width:45px;
    }

}

@media (min-width: 320px) and (max-width: 575px) { 
    .numbers{
        font-weight: 700;
        font-size: 17px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 13px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 9px;
    }
    .medium-plate svg{
        width: 45px!important;
        height: 45px!important;

    }
    .MediumPlateIcon{
        width:40px;
    }


}

@media (max-width: 320px) { 
    .numbers{
        font-weight: 700;
        font-size: 17px;
    }
    .tinyNumbers{
        font-weight: 700;
        font-size: 13px;
    }
    .smallNumbers{
        font-weight: 700;
        font-size: 9px;
    }
    .MediumPlateIcon{
        width:40px;
    }


}



@media (max-width: 1080px) {
    .top-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      background-color: black; /* или другой цвет фона */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    .dash-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .top-menu {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  
    .top-nav-heading,
    .error-notification {
      display: none; /* Скрываем заголовок и уведомления на мобильных */
    }
  
    .hamburger {
      display: block !important; /* Показываем бургер-меню */
    }
    .mobileFilerDash{
        display: flex!important;
    }
    .downloadButtonDashMobile >.download-button{
        display: flex;
        align-items: center;
        margin-top: 10px;
        color: #fff;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        padding: 4px;
        min-width: 150px;
        max-width: 150px;
        white-space: nowrap;
        height: 40px;
        cursor: pointer;
      }
      .doughnutMobile{
        width: 350px!important;
    }
    .firstBlockDashboard,.secondBlockDashboard,.thirdBlockDashboard{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        gap: 15px!important;
    }
    .thirdBlockDashFirstLine,.thirdBlockDashSecondLine{
        gap: 15px !important;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .chartWrapper{
        width: 100%;
        height: auto;
    }

  }