.responsiveImage {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .responsiveImageWrapper {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }

  .bottomNavWrapper {
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
  }

