/*.widSolution{
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
/* .solDescription{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
} */

/*.widSolution{
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
/* .solDescription{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
} */

/*.widSolution{
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    gap: 20px;
}
/* .solDescription{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: left;
} */


/* @media screen and (max-width: 1200px) {
    .widSolution{
        flex-direction: column;
    }
    .solDescription{
       min-width: 100%;
    }
    .mainPageContainer{
        max-width: 100%!important;
    }
} */
/* @media screen and (max-width: 1200px) {
    .widSolution{
        flex-direction: column;
    }
    .solDescription{
       min-width: 100%;
    }
    .mainPageContainer{
        max-width: 100%!important;
    }
} */
/* @media screen and (max-width: 1200px) {
    .widSolution{
        flex-direction: column;
    }
    .solDescription{
       min-width: 100%;
    }
    .mainPageContainer{
        max-width: 100%!important;
    }
} */
/* @media screen and (max-width: 1200px) {
    .widSolution{
        flex-direction: column;
    }
    .solDescription{
       min-width: 100%;
    }
    .mainPageContainer{
        max-width: 100%!important;
    }
} */
