/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.page__content {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;

}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}

.page__warehouseContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.page__pieWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
}

.page__warehouseTitle {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}