.page {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 0;

    @media (max-width: 1000px) {
        padding: 20px 50px 0
    }
    @media (max-width: 600px) {
        padding: 20px 20px 0
    }
}

.page__headerWrapper {
    width: 100%;
}

.page__content {
    width: 100%;
    height: 100%;
}

.page__footerWrapper {
    width: 100%;

}

.page__title {
    margin: 0;
    padding: 0;
    font-size: 240px;
    font-family: 'Manrope', sans-serif;
    line-height: 100%;
    text-align: center;
    font-weight: 700;
    color: #1A1A1A;

    @media (max-width: 900px) {
        font-size: 120px;
    }
}

.page__subtitle {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: 'Manrope', sans-serif;
    line-height: 100%;
    text-align: center;
    font-weight: 700;
    color: #1A1A1A;
    @media (max-width: 900px) {
        font-size: 30px;
    }
}



/* header */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 700px) {
        align-items: stretch;
    }
}

.header__mainLink {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.header__mainLinkImg {
    @media (max-width: 700px) {
        width: 100px;
    }
}

.header__navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;

    @media (max-width: 700px) {
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        align-items: flex-end;
    }
}

.header__navLink {
    text-decoration: none;
    color: #1A1A1A;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    line-height: 100%;
    text-align: center;
    font-weight: 500;
    color: #1A1A1A;

    @media (max-width: 700px) {
       font-size: 16px;
    }
}