/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}

.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 52px;
}

.primeCostWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}

.primeCost {
    min-width: 446px;
    background-color: white;
    border-radius: 16px;
    padding: 24px;
}

.primeCostBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.primeCostBoxText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bottomNavWrapper {
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    color: rgba(26, 26, 26, 1);
}

.lastDownlaod {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    color: rgba(140, 140, 140, 1);
}

.primeCostBoxButton {
    
}


.primeCostBoxButton button {
    background: rgba(83, 41, 255, 1);
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    color: rgba(255, 255, 255, 1);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 212px;
    max-width: 212px;
    height: 46px;
}