/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;

}

.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 72px;
}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}

.instructionWrapper {
    padding: 24px;
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04); */
    border-radius: 16px;
}

.arrowIcon {
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

.arrowIcon_open {
    transform: rotate(180deg);
}

.instructionTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.instructionColsWrapper {
    display: flex;
    gap: 40px;
    width: 100%;
    align-items: flex-start;
}

.bottomNavWrapper {
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
}

.topTextTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: rgba(26, 26, 26, 1);
}

.fileUploaderText {
    margin: 0;
    padding: 0;
    text-align: center;
}

.blockLeft {
    margin-top: 1rem;
    flex: 1.2;
}

.blockRight {
    flex: 0.8;
}

.videoWrapper {
    width: 100%;
    flex-shrink: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding-bottom: 56.25%;
    height: 0;
}

.blockLeftText {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 1);
}

.blockLeftTextBold {
    font-size: 14px;
    font-weight: 700;
    line-height: 28.5px;
    color: rgba(26, 26, 26, 1);
}

.blockCover {
    background: rgba(247, 247, 247, 1);
    border-radius: 12px;
    margin-top: 24px;
    padding: 20px;
}

@media screen and (min-width: 2000px) {
    .blockLeftTextBold {
        padding: 1.2rem;
    }
}

.blockCoverText {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 1);
}

.blockCoverTextBold {
    font-size: 14px;
    font-weight: 700;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 1);
}

.blockCoverBottom {
    margin-top: 24px;
}

.blockCoverBottomBoldText {
    font-size: 14px;
    font-weight: 700;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 1);
    margin-top: 24px;
}

.blockRightText {
    background: rgba(83, 41, 255, 0.05);
    padding: 16px;
    margin-top: 16px;
    border-radius: 12px;
    margin-bottom: 12px;
}

@media screen and (min-width: 2000px) {
    .blockRightText {
        padding: 1.5rem;
        margin-top: 1.5rem;
        border-radius: 1.2rem;
    }
}

.blockRightTextTop {
    font-size: 14px;
    font-weight: 700;
    line-height: 25.5px;
    /* color: rgba(26, 26, 26, 1); */
    margin-bottom: 8px;
}

.rightListText {
    font-size: 14px;
    font-weight: 500;
    line-height: 25.5px;
    /* color: rgba(26, 26, 26, 1); */
}

.rightListTextBold {
    font-size: 14px;
    font-weight: 700;
    line-height: 25.5px;
    /* color: rgba(26, 26, 26, 1); */
}

.uploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.uploadWrapper {
    background: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04); */
    border-radius: 16px;
    width: 100%;
}

.uploadTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    color: rgba(26, 26, 26, 1);
    margin-top: 24px;
    margin-bottom: 16px;
}

@media screen and (min-width: 2000px) {
    .uploadTitle {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}

.uploadIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 22.5px 0 22.5px 0;
}

.uploadText {
    font-size: 16px;
    font-weight: 500;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 0.5);
}

@media screen and (min-width: 2000px) {
    .uploadText {
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
    }
}

.uploadTextWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
}

.uploadTextBlue {
    margin-left: 5px;
    color: rgba(83, 41, 255, 1);
}

.uploadTableContainer {
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 12px 0 0 12px;
    margin-top: 32px;
    overflow: auto;
    margin-bottom: 80px;
    width: auto;
}

@media screen and (min-width: 2000px) {
    .uploadTableContainer {
        padding: 1.5rem;
    }
}

.uploadTableContainer::-webkit-scrollbar {
    height: 6px;
    border-radius: 6px;
    width: 6px;
}

.uploadTableContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 85px;
}

.uploadTableContainer::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}


.uploadTableHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
}

@media screen and (min-width: 2000px) {
    .uploadTableHeader {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.id {
    min-width: 150px;
    max-width: 200px;
    flex-grow: 1;
    padding-left: 4px;
    display: flex;
    align-items: center;
}

.reports {
    min-width: 500px;
    max-width: 640px;
    flex-grow: 1;
}

.startDate {
    display: flex;
    align-items: center;
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

@media screen and (min-width: 2000px) {
    .startDate {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.startDateHead {
    min-width: 150px;
}

.endDate {
    display: flex;
    align-items: center;
    min-width: 125px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

@media screen and (min-width: 2000px) {
    .endDate {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.emptyTitle {
    margin-left: auto;
    padding-right: 4px;
    display: flex;
    align-items: center;
}

.emptyTitle img {
    width: 24px;
    cursor: pointer;
}

.endDateHead {
    min-width: 150px;
}

.emptyTitleHead {
    min-width: 25px;
}

.tableTitle {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.5px;
    color: rgba(26, 26, 26, 1);
    margin-left: 4px;
    margin-bottom: 9px;
}

@media screen and (min-width: 2000px) {
    .tableTitle {
        font-size: 1.2rem;
        line-height: 1.5;
    }
}

.uploadTableRow {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    padding: 11px 0 11px 0;
    border-bottom: 1px solid #e5e7eb;
}

/* 
.uploadTableRow:hover {
    background-color: #f9fafb;
} */

.checkbox {
    display: flex;
    align-items: center;
}

.idResult {
    margin-right: 8px;
}

.reportResult {
    margin-right: 8px;
}

.reportRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.deleteSectionText {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.5px;
    margin-right: 12px;
}

@media screen and (min-width: 2000px) {
    .deleteSectionText {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.deleteSection {
    display: flex;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.deleteButton {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.5px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    color: rgba(83, 41, 255, 1);
    background-color: transparent;
}

.uploadButton {
    font-size: 16px;
    font-weight: 600;
    line-height: 25.5px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: rgba(83, 41, 255, 1);
    margin-left: 16px;
    color: rgba(255, 255, 255, 1);
}

.deleteButton img {
    margin-right: 8px;
}

.idText {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

.reportText {
    display: inline-block;
    max-width: calc(100% - 24px);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.5px;
    color: rgba(26, 26, 26, 1);
    text-overflow: ellipsis;
    overflow: hidden;
}

.uploadButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.deleteSectionShow {
    visibility: hidden;
    opacity: 0;
}

.failGrey {
    color: rgba(0, 0, 0, 0.2);
}

.lineWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.line {
    position: relative;
    width: 23px;
    height: 2px;
    background-color: rgba(83, 41, 255, 1);
    transition: transform 0.3s ease;
}

.line::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: rgba(83, 41, 255, 1);
    left: 0;
    transition: transform 0.3s ease;
}

/* Add these classes and toggle them based on state */
.line.open {
    transform: rotate(0deg);
}

.line.open::after {
    transform: rotate(0deg);
}

.line.closed {
    transform: rotate(90deg);
}

.line.closed::after {
    transform: rotate(90deg);
}

.page__howToLinkWrapper {
    width: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.tableWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    background: white;
    border-radius: 16px;
    padding: 16px;
}

.bodyCellWrapperCustomClassName {
    border-bottom: 1px solid #E5E7EB;
}




.bottomNavV2 {
    width: 100%;
    position: sticky;
    bottom: 0;
    overflow: hidden;
    background: white;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.bottomNavV2_header {
    bottom: 0;
    overflow: hidden;
    background: white;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}

.bottomNavV2_header>a>svg {
    width: 16px;
}

.bottomNavV2>a>svg {
    width: 16px;
}

.navItem {
    color: #8C8C8C;
    cursor: pointer;
    text-decoration: none;
    display: flex;
}

.navItem:hover {
    color: #5329ff80;
}

.navItemActive {
    cursor: pointer;
    color: #5329ff;
    display: flex;
}