/* Page */

.page {
  background-color: #F7F6FE;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  min-width: 1200px;
}

.page__content {
  width: calc(100% - 74px);
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 72px;
}

.page__sideNavWrapper {
  height: 100%;
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
}

.page__headerWrapper {
  width: 100%;
}

.tableContainerWrapper {
  width: 100%;
  border-radius: 16px;
  background: white;
  padding: 8px;
}

.tableContainer {
  
  overflow: auto;
  border-radius: 16px;
  width: 100%;
  border-radius: 16px;
  background: white;
}

.tableContainer::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #5329ff80;
}

.tableContainer::-webkit-scrollbar-track {
  background: transparent;
  height: 50%;
  margin: 10px 20px;
}

.scheduleMain {
  margin-top: 10px;
}

.filterCollapse {
  color: #5329FF;
  font-weight: 600;
  font-size: 16px;
  font-family: Manrope;
  margin-left: 60px;
  cursor: pointer;
}

.ScheduleHeader {
  display: flex;
  border-radius: 16px;
  flex-direction: row;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  /* padding: 20px 32px; */

}

.bottomNavWrapper {
  width: 100%;
  position: sticky;
  bottom: 0;
  overflow: hidden;
}

.headerWrapperBox {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #0000000A;
  border-radius: 12px;
  border: none;
  flex-direction: column;
  padding: 20px 32px;
}

.container {
  border-radius: 12px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #0000000A;
  border: none;
  width: calc(100%/6 - 10px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(26, 26, 26, 1);
}

.clearButton {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  color: rgba(26, 26, 26, 0.5);
  background: none;
  border: none;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  /* max-height: 180px; */
  overflow-y: auto;
  /* min-height: 180px; */
}

.list::-webkit-scrollbar {
  width: 6px;
  /* Ширина скроллбара */
}

.list::-webkit-scrollbar-track {
  background: transparent;
  /* Цвет фона трека */
}

.list::-webkit-scrollbar-thumb {
  background-color: #5329FF80;
  /* Цвет полосы прокрутки */
  border-radius: 4px;
  /* Скругленные углы */
  border: 2px solid transparent;
  /* Добавляем прозрачный отступ */
}


.brandItem {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 0;
}

/* Внешний контейнер для кастомного чекбокса */
.checkboxContainer {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}


/* Скрытый чекбокс */
.checkboxInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  /* Слой для клика */
}

/* Кастомный чекбокс */
.customCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #ccc;
  background-color: #fff;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  pointer-events: none;
  /* Чтобы кастомный чекбокс не принимал клики */
}

/* Состояние отмеченного чекбокса */
.checkboxInput:checked+.customCheckbox {
  background-color: #5329FF;
  border-color: #5329FF;
}

/* Галочка для кастомного чекбокса */
.customCheckbox::after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkboxInput:checked+.customCheckbox::after {
  display: block;
}

/* Название бренда */
.brandName {
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  color: rgba(26, 26, 26, 1);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
}

.ScheduleBody {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ScheduleFooter {
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}

.containerProduct {
  border-radius: 12px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #0000000A;
  border: none;
  width: calc(50% - 5px);
  margin-top: auto;
  max-height: 600px;
}


/* YourStyles.module.css */

.containerRevenue {
  border-radius: 0 12px 12px 12px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #0000000A;
  border: none;
  min-height: 250px;
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.containerRevenue.expanded {
  min-height: 500px;
  max-height: 500px;
}

.containerProfit {
  border-radius: 0 12px 12px 12px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 20px 0px #0000000A;
  border: none;
  min-height: 250px;
  max-height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.containerProfit.expanded {
  min-height: 500px;
  max-height: 500px;
}

.rowsWrapper {
  min-height: 200px;
  overflow: auto;
}

.rowsWrapper.expanded {
  min-height: 480px;
  max-height: 480px;
  overflow: auto;
}

.rowsWrapper::-webkit-scrollbar {
  width: 6px;
  /* Ширина скроллбара */
}

.rowsWrapper::-webkit-scrollbar-track {
  background: transparent;
  /* Цвет фона трека */
}

.rowsWrapper::-webkit-scrollbar-thumb {
  background-color: #5329FF80;
  /* Цвет полосы прокрутки */
  border-radius: 4px;
  /* Скругленные углы */
  border: 2px solid transparent;
  /* Добавляем прозрачный отступ */
}

.rowsWrapper.expanded::-webkit-scrollbar {
  width: 6px;
  /* Ширина скроллбара */
}

.rowsWrapper.expanded::-webkit-scrollbar-track {
  background: transparent;
  /* Цвет фона трека */
}

.rowsWrapper.expanded::-webkit-scrollbar-thumb {
  background-color: #5329FF80;
  /* Цвет полосы прокрутки */
  border-radius: 4px;
  /* Скругленные углы */
  border: 2px solid transparent;
  /* Добавляем прозрачный отступ */
}

/* .containerRevenue::-webkit-scrollbar {
    width: 6px; 
}

.containerRevenue::-webkit-scrollbar-track {
    background: transparent; /
}

.containerRevenue::-webkit-scrollbar-thumb {
    background-color: #5329FF80; 
    border-radius: 4px;
    border: 2px solid transparent; 
} */

.article {
  /* width: 13%; */
  width: auto;
  min-width: 130px;
}

.product {
  width: 100%;
  min-width: 150px;
  flex-grow: 1;
  flex-shrink: 1;
}

.size {
  /* width: 10%; */
  width: 75px;
  min-width: 75px;
}

.profit {
  width: 170px;
  min-width: 170px;
}

.profitAmount {
  width: 130px;
  min-width: 130px;
}

.category {
  /* width: 10%; */
  width: 100%;
  min-width: 130px;
  max-width: 200px;
}

.generalCategory {
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  min-width: 130px;
  max-width: 150px;
}

.categoryColoredItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  max-width: 40px;
  border-radius: 8px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.row {
  display: flex;
  align-items: center;
  padding: 8px 0;
  align-items: flex-start;
  border-bottom: 1px solid #E8E8E8;
  gap: 8px;
}

.row:last-child {
  border-bottom: 0;
}

.rowHeader {
  display: flex;
  align-items: center;
  align-items: flex-start;
  padding: 8px 0;
  padding-right: 6px;
  gap: 8px;
}

.row>div {
  font-size: 15px;
  text-align: left;

}

.rowHeader>div {
  text-align: left;
}

.tabs {
  display: flex;
}

.tab {
  white-space: nowrap;
  flex: 1;
  padding: 8px 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: #1A1A1A80;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 12px 12px 0 0;
  background-color: transparent;

}

.active {

  background-color: #5329FF1A;
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px 12px 0 0;
}

.categoryItem {
  width: 17%;
  background-color: #4AD99133;
  padding: 4px;
  border-radius: 8px;
  text-align: center;
}

.row>div>div {
  padding: 8px 0;
}

.filteOpenClose {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(83, 41, 255, 1);
  margin: 20px 0 16px 0;
  cursor: pointer;
}

.applyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: rgba(83, 41, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: rgba(83, 41, 255, 0.1);
}

.productName {
  color: rgba(26, 26, 26, 1);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 500;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.responsiveImageWrapper {
  margin-right: 30px;
  display: flex;
  flex-direction: row;
}



.customCell {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.responsiveImageWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 35px;
}


.customCellBorderRight {
  border-right: 1px solid #E8E8E8;
}

.bodyRowSpecial:hover td div:not(.abcBar, .productCustomCellImgWrapper) {
  background-color: #FAFAFA !important;
  transition: background-color 0.2s ease;
}

.bodyRowSpecial:hover td {
  background-color: #FAFAFA !important;
  transition: background-color 0.2s ease;
}

:global(.radar-table__body-cell:has(div[data-border-right="true"])) {
  border-right: 1px solid #E8E8E8 !important;
}

.productCustomCellImgWrapper {
  width: 30px;
  height: 40px;
  border-radius: 3px;
  /* overflow: hidden; */
  background: #D9D9D9;
  flex-grow: 0;
  flex-shrink: 0;
}

.productCustomCellImgWrapper img {
  border-radius: 3px;
  overflow: hidden;
}

.abcBar {
  width: 50px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyCellWrapperCustomClassName:has(div[data-ident-size="45"]) {
  padding-left: 45px !important;
}

.bodyCellWrapperCustomClassName:has(div[data-ident-size="90"]) {
  padding-left: 90px !important;
}

:global(.radar-table__body-row--parent:has(button.radar-table__expander-btn[aria-expanded="false"]) > td > .radar-table__body-cell-wrapper) {
  border-bottom: 1px solid #E8E8E8 !important;
}
:global(.radar-table__body-row--parent:has(button.radar-table__expander-btn[aria-expanded="false"]):last-of-type > td > .radar-table__body-cell-wrapper) {
  border-bottom: none !important;
}
:global(.radar-table__body-row--child) > td > div {
  border-bottom: 1px solid #E8E8E8 !important;
}