/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.page__content {
    width: 100%;
    padding: 30px 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

.page__secButton {
    height: 100% !important;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #EFECFE;
    border: none;
    padding: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
}
.page__primeButton {
    height: 100% !important;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    border: none;
    padding: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    background: #5329FF;
    border-radius: 8px;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;
}

.page__searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-right: 52px;
    gap: 20px;
    height: 48px;
    overflow: hidden;
}

.page__inputWrapper {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
}

.page__searchInput {
    width: 100%;
    max-width: 670px;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #5329FF !important;
}

.page__searchInput::placeholder {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A80
}

.page__controlsWrapper {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px
}