/* Page */

.page {
  background-color: #F7F6FE;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  min-width: 1200px;
}

.page__content {
  width: calc(100% - 74px);
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 72px;
}

.page__sideNavWrapper {
  height: 100%;
  width: auto;
  overflow: visible;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 0;
}

.page__headerWrapper {
  width: 100%;
}

.tableContainerWrapper {
  border-radius: 16px;
  background: white;
  padding: 8px;
  width: 100%;
}

.tableContainer {
  width: 100%;
  overflow: auto;
 
}

.applyButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: rgba(83, 41, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 16px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(83, 41, 255, 0.1);
}

.filterContainer {
  display: flex;
  gap: 20px;
}

.bottomNavWrapper {
  width: 100%;
  position: sticky;
  bottom: 0;
  overflow: hidden;
}

.responsiveImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.responsiveImageWrapper {
  display: flex;
  flex-direction: row;
  margin-right: 35px;
}

.customCell {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
  display: flex;
  flex-direction: column;
}

.tableContainer::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 3px;
}

.tableContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #5329ff80;
}

.tableContainer::-webkit-scrollbar-track {
  background: transparent;
  height: 50%;
  margin: 10px 20px;
}

.bodyCell:has(div[data-has-bg="true"]) {
  background-color: #F6F4FF !important;
  border-bottom: 2px solid white !important;
}