.block {
    width: 100%;
    border-radius: 16px;
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 12px;
}

.block__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.block__formInputWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.block__formItem {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
}

.block__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}