/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

/* Report */

.controls{
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    gap: 16px; */
}

.loading{
    flex-grow: 1;
    min-height: 90px;
    padding: 16px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.container {
    height: auto;
}

.tableContainer{
    min-height: 450px;
    max-height: 100%;
}

.tableContainer :global(.ant-table-body){
    max-height: 200px!important;
}
:global(.table__arrow){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
}

:global(.table__arrow_static::after){
    content: "";
    width: 12px;
    height: 2px;
    background: #8C8C8C;
}
:global(.table__arrow_static svg){
    display: none;
}

:global(.table__arrow_positive){
    color: #00b6b9;
}

:global(.table__arrow_negative){
    color: #f93c65;
}

:global(.table__arrow_negative svg){
    transform: rotate(180deg) scale(-1, 1);
}

.btns{
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}

.popover{
    display: flex;
    flex-flow: column;
    gap: 4px;
    padding: 12px;
}

.popover button{
    justify-content: start;
}

.deleteModal__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
    width: 100%;
    border-left: 2px solid #F93C65;
    padding: 0 12px;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #F93C65;
  }

  .page__alert {
    padding: 12px;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    position: fixed;
    right: 52px;
    top: 115px;
    background: white;
}
