:global(.ant-pagination-item) {
    color: #8C8C8C;
}
:global(.ant-pagination-item-active) {
    color: #5329FF;
}

:global(body){
    overscroll-behavior: none;
}

.modal__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    padding: 4px 0;
    position: relative;
    height: 764px;

    @media (max-height: 800px) {
        height: 80dvh;
    }
}

.modal__loaderWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.5);
    z-index: 1;
}

.modal__header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.modal__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.modal__container {
    width: 100%;
    flex-grow: 1;
    height: auto;
    padding: 16px;
    max-height: 480px;
    overflow-y: scroll;
    border-radius: 16px;
    border: 1px solid #5329FF1A;
}

.modal__container::-webkit-scrollbar {
    width: 6px;
    /* Ширина скроллбара */
}

.modal__container::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона трека */
    margin: 10px;
    /* Отступ от правого края */
}

.modal__container::-webkit-scrollbar-thumb {
    background-color: #5329FF80;
    /* Цвет полосы прокрутки */
    border-radius: 4px;
    /* Скругленные углы */
    border: 2px solid transparent;
    /* Добавляем прозрачный отступ */
}

.item{
    padding: 5px 0;
}
.item + .item{
    border-top: 1px solid #E8E8E8;
}

.loading{
    width: 100%;
    min-height: 480px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.empty{
    font-size: 18px;
}

.hide{
    display: none;
}

.data_collect{
    width: 100%;
}

.control{
    width: 100%;
}