.head {
    width: 100%;
    padding: 8px;
    padding-right: 20px;
    border-radius: 16px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    text-decoration: none;
    position: relative;
    transition: all .1s ease-in-out;
}

.head:hover {
    transform: scale(101.5%);
}

.head__gallery {
    flex-grow: 0;
    flex-shrink: 0;
    width: 120px;
    height: 100%;
    max-width: 120px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 6px;
    row-gap: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.head__mainPhotoWrapper {
    border: 2px solid #0000001A;
    height: 100%;
    border-radius: 6px;
    grid-row: span 3;
    overflow: hidden;
    flex-grow: 0;
}

.head__secPhotoWrapper {
    overflow: hidden;
    height: 100%;
    border: 2px solid #0000001A;
    border-radius: 6px;
}

.head__galleryMainImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.head__galleryImage {
    width: 100%;
    height: 100%;
    max-height: 56px;
    object-fit: cover;
    object-position: top center;
}

.head__titleWrapper {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 12px;
    gap: 16px;
    height: 122px;
}

.head__title {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.head__priceWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.head__text {
    font-family: Mulish;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
}

.head__link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5329FF;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    transition: all .2s ease;
    border: none;
    background: none;
    padding: 0;
}

.head__link:hover {
    color: #5329FF;
}

.head__mainLink {
    width: calc((100% + 200px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #F6F4FF;
    padding: 10px;
    border-radius: 8px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    align-self: flex-end;

    @media (max-width: 1500px) {
        font-size: 14px;
    }
    @media (max-width: 1210px) {
        padding: 8px 4px;
    }
}


.loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}