.widget {
    font-family: Manrope;
    background-color: white;
    border-radius: 16px;    
    padding: 20px;

    .widget__badge {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 19px 16px;
        background-color: #F0AD001A;
        border-radius: 8px;
        margin-bottom: 8px;

        .widget__badge__content {
            display: flex;
            flex-direction: column;
            gap: 4px;

            h3 {
                margin: 0;
                font-size: 18px;
                font-weight: 600;
            }

            span {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }

    .widget__articles {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .widget__article {
            display: flex;
            flex-direction: column;
            gap: 4px;
            background-color: #F7F6FE;
            padding: 16px;
            border-radius: 8px;

            .widget__article__content {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h3 {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                    line-height: 160%;
                }

                p {
                    font-size: 12px;
                    font-weight: 500;
                    margin-bottom: 4px;
                    line-height: 140%;
                }
            }

            .widget__article__link {
                font-size: 12px;
                font-weight: 600;
                color: #5329FF;
                text-decoration: none;
                line-height: 140%;
            }
        }
    }
}