.info {
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.info__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 6px;
}

.info__row {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
    text-decoration: none;

    @media (max-width: 1500px) {
        font-size: 14px;
    }
}

.info__color_black {
    color: #1A1A1A
}

.info__color_purple {
    color: #5329FF
}

.info__mainLink {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #F6F4FF;
    padding: 10px;
    border-radius: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: #5329FF;
    @media (max-width: 1210px) {
        padding: 8px 4px;
    }
}

.info__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info__link {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
    margin: 0;
    padding: 0;
    text-decoration: none;

    @media (max-width: 1500px) {
        font-size: 14px;
    }
}

.loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}