.filterGroup {
  width: 200px;
  height: 190px;
  background: rgba(255, 255, 255, 1);
  padding: 12px;
  overflow-y: auto;
  border-radius: 12px;
}

.filterGroupBig {
  width: 100%;
  max-width: 643px;
  height: 190px;
  background: rgba(255, 255, 255, 1);
  padding: 12px;
  overflow-y: auto;
  border-radius: 12px;
}

.filterGroup::-webkit-scrollbar {
  background: #5329ff80;
  border-radius: 6px;
  width: 6px;
  height: 10%;
}

.filterGroup::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filterGroup::-webkit-scrollbar-thumb {
  background: #5329ff80;
  border-radius: 6px;
}

.filterGroupBig::-webkit-scrollbar {
  background: #5329ff80;
  border-radius: 6px;
  width: 6px;
  height: 10%;
}

.filterGroupBig::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filterGroupBig::-webkit-scrollbar-thumb {
  background: #5329ff80;
  border-radius: 6px;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.filterHeader h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.clearButton {
  background: none;
  border: none;
  color: rgba(26, 26, 26, 0.5);
  font-size: 14px;
  font-weight: 600;
  line-height: 17.5px;
  cursor: pointer;
  padding: 4px 8px;
}

.clearButton:hover {
  text-decoration: underline;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.optionLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.5px;
  color:rgba(26, 26, 26, 1);
  padding: 2px 0 2px 0;
}

.optionLabel input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(204, 204, 204) !important;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.optionLabel input[type="checkbox"]:checked {
  background-color: rgb(84, 41, 255);
  border: rgb(84, 41, 255) !important;
}

.optionLabel input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Default style for regular size */
.optionLabel span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
}

/* Style for big size */
.filterGroupBig .optionLabel span {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  max-width: none;
}

.checkbox {
  flex: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}