.infoSeoPlateBox {
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.infoTitle {
    display: flex;
    align-items: center;
}

.infoTitle span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
    color: rgba(26, 26, 26, 1);
    margin-left: 12px;
}


.infoBodyText span {
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    color: rgba(26, 26, 26, 1);
    margin-top: 8px;
}


.infoBodyBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 12px;
}

.infoBodyBoxItem {
    border: 1.5px solid rgba(83, 41, 255, 0.1);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 12px
}

.infoBodyBoxItem span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.375;
    max-width: 340px;
}

.infoSeoGroupWrapper {
    width: 50%;
    padding: 24px 32px;
    background: rgba(255, 255, 255, 1);
    margin-top: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    margin-bottom: 50px;
}

.infoSeoGroupTitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.2;
    color: rgba(26, 26, 26, 1);
}

.groupBoxTitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(26, 26, 26, 1);
}

.groupTextarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
    font-size: 0.875rem;
    line-height: 1.4;
    resize: none;
  }
  
  .getReportBtn {
    width: 100%;
    background: rgba(83, 41, 255, 1);
    padding: 1.25em 0 1.25em 0;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 8px;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border: none;
  }

  .infoSeoGroupWrapper form {
    display: flex;
    flex-direction: column;
    border: none;
  }