.svg {
  width: 100%;
  height: auto;
  background-color: #f8f8ff;
}

.label {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-anchor: middle;
  fill: #333;
}

.smallLabel {
  font-size: 12px;
  text-anchor: start;
  fill: #666;
}
