.seoCompaireWrapper {
    margin-bottom: 50px;
}

.topBlock {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    margin-bottom: 40px;
}

.seoTableHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.seoTableWrapper {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    padding: 16px;
}

.seoTableHeaderItem {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
    margin-bottom: 8px;
}

.seoTableContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 350px;
    overflow-y: auto;
}

.seoTableContent::-webkit-scrollbar {
  height: 6px;
  border-radius: 6px;
  width: 6px;
}

.seoTableContent::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.seoTableContent::-webkit-scrollbar-thumb {
  background: #5329ff80;
  border-radius: 6px;
}

.seoTableContentItem {
    display: flex;
    padding: 8px 8px 8px 4px;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.seoTableContentItem span {
  cursor: pointer;
  color: rgba(83, 41, 255, 1);
}

.bottomBlock {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    padding: 16px;
    border-radius: 16px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
}

.radioButtonsWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.radioButtons {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

.search {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 8px;
    width: 100%;
    margin-bottom: 5px;
}

.search button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 8px;
  background: rgba(83, 41, 255, 0.1);
  cursor: pointer;
}

.unionImage {
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
}

.unionImage img {
  height: 20.5px;
  width: 20.5px;
  margin-top: 2.5px;
}

.searchButtonText {
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(83, 41, 255, 1);
  margin-right: 8px;
}

.searchInput {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgba(247, 246, 254, 1);
    padding: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
    border-radius: 12px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.tableWrapper {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    position: relative;
}

.tableWrapper::-webkit-scrollbar {
    height: 6px;
    /* background: #5329ff80; */
    border-radius: 6px;
    width: 6px;
  }

.tableWrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 40px;
}

.tableWrapper::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.tableContentItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 5px;
    min-height: 25px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}

.tableContentItem > div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.circleContainer {
    position: relative;
    width: 350px;
    height: 300px;
  }
  
  .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circleA {
    background-color: #E6E6FA;
    left: 0;
    z-index: 1;
  }
  
  .circleB {
    background: rgba(0, 182, 155, 0.1);
    right: 25px;
    top: 110px;
    z-index: 2;
    opacity: 0.4;
    border: 2px solid rgba(0, 182, 155, 1);
  }
  
  .circleText {
    font-size: 18px;
    font-weight: bold;
    opacity: 1;
  }
  
  .keywordCount {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 8px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    z-index: 3;

  }
  
  .keyword-count span:first-child {
    font-weight: bold;
    font-size: 18px;
  }

  .keywordCountNumber {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .keywordCountText {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.5);
  }

  .tableContentItemKey {
    color: rgba(83, 41, 255, 1);
    cursor: pointer;
  }

  .keywordCountNumber {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .keywordCountText {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(26, 26, 26, 0.5);
}

.keywordCount {
  position: absolute;
  right: 120px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 8px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  margin-top: 10px;
}

.downloadButton {
  min-width: 150px;
}