.revenueStructure {
  width: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: white;
  padding: 16px;
}

.chartWrapper {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: stretch;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1477px) {
  .revenueStructure {
    width: 40%;
  }
}