.container {
    width: 100%;
    overflow: auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-top: 20px;
    margin-bottom: 70px;
}

.container::-webkit-scrollbar {
    height: 6px;
    border-radius: 6px;
    width: 6px;
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 85px;
}

.container::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

/* .header {
    border-bottom: 1px solid #eee;
  } */

.topRow {
    display: flex;
    width: 5366px;
}

.row {
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    font-size: 14px;
    width: 5366px;
}

.row:hover {
    background-color: #fafafa;
}

/* .childRow {
    background-color: #f8f5ff;
} */

/* Common cell styles */
[class^="cell_"] {
    padding: 12px;
}

.cell_id {
    min-width: 200px;
    display: flex;
    align-items: center;
    color: #666;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background: white;
}

.cell_product {
    min-width: 430px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    position: sticky;
    top: 0;
    left: 200px;
    z-index: 1;
    background: white;
    padding-top: 4px;
}

/* Sales section */
.salesSection {
    /* flex: 1; */
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    padding: 4px 0 4px 12px;
}

.salesHeader {
    flex: 1;
    padding: 0 0 0 12px;
}

.salesTitle {
    padding: 12px 12px 0 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(26, 26, 26, 1);
    margin-bottom: 4px;
}

.salesSubheader {
    display: flex;
    padding: 0 0 7px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
}

.cell_purchases,
.cell_returns {
    width: 128px;
}

.cell_sales {
    width: 96px;
}

.cell_revenue,
.cell_avgPrice {
    width: 128px;
}

.cell_spp,
.cell_buyout {
    width: 80px;
}

/* Cost section */
.costSection {
    /* width: 192px; */
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    background: rgba(83, 41, 255, 0.05);
    padding: 0 12px 0 12px;
    box-shadow: 0 1px 0 rgba(232, 232, 232, 1);
}

.costHeader {
    background: rgba(83, 41, 255, 0.05);
    padding: 0 12px 0 12px;
}

.costTitle {
    padding: 12px 12px 0 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(26, 26, 26, 1);
    margin-bottom: 4px;
}

.costSubheader {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
}

.cell_cost,
.cell_costPerUnit {
    flex: 1;
    min-width: 128px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    /* color: rgba(26, 26, 26, 1); */
}

.logisticSection {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    padding: 0 0 0 12px;
}

/* Utils */
.subtext {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

.toggleButton {
    height: 100%;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    border: none;
    background: none;
    cursor: pointer;
}

.icon {
    width: 16px;
    height: 16px;
    color: #999;
}

.indent {
    width: 16px;
    margin-left: 16px;
}

.totalRow {
    display: flex;
    font-weight: 500;
    width: 5366px;
}

.logisticSubheader {
    min-width: 128px;
}

.damgeSection,
.deductionSection {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    box-shadow: 0 1px 0 rgba(232, 232, 232, 1);
    padding: 0 0 0 12px;
}

.damgeSection,
.externalExpensesSection,
.financeSection {
    background: rgba(83, 41, 255, 0.05);
}

.externalExpensesSection,
.taxSection,
.financeSection {
    padding: 0 0 0 12px;
}

.total {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
    width: 430px;
    text-align: right;
    padding: 4px 12px 0 12px;
}

.article {
    display: flex;
    justify-content: space-between;
    padding: 0 12px 0 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(26, 26, 26, 1);
}

.article span {
    display: flex;
    height: 100%;
    padding-top: 4px;
}

.cellArticle {
    display: flex;
    align-items: center;
    padding: 0 0 0 12px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
}

.cellGoods {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(140, 140, 140, 1);
}

.dropdownArrow {
    display: inline-block;
    margin-right: 0.25rem;
    transition: transform 0.2s;
}

.dropdownArrow img {
    width: 12px;
    height: 6px;
}

.dropdownArrowExpanded {
    transform: rotate(180deg);
}

.logosticHeader,
.anotherKeeper {
    padding: 0 0 0 12px;
}

.compensationHeader {
    background: rgba(83, 41, 255, 0.05);
    padding: 0 0 0 12px;
}