.tableWrapper {
    display: flex;
    flex-direction: row;
    /* margin-top: 21px; */
    width: 100%;
    padding: 0px 15px;
}

.customTable {
    height: calc(100vh - 300px);
    overflow: auto;
    position: relative;
    border-radius: 16px;
    will-change: transform;
    -webkit-overflow-scrolling: touch;
}

.customTable::-webkit-scrollbar {
    height: 6px;
    /* background: #5329ff80; */
    border-radius: 6px;
    width: 6px;
  }

.customTable::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 85px;
}

.customTable::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.tableLeftMargin {
  width: 1.3vw;
  height: 100%;
}

.tableContainer {
    display: flex;
    width: max-content;
}

.columnsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.columnWidth {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.columnWidthN {
  width: 140px;
  display: flex;
  flex-direction: column;
}

.tableHeader {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    padding-left: 16px;
    /* margin-left: 17px; */
    background: #f7f6fe;
    display: flex;
    align-items: center;
    position: sticky;
    /* background-color: #f8f9fa; */
    z-index: 4;
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    top: 16px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.tableWrapperHeadder{
    display: flex;
    flex-direction: row;

    align-items: center;
}
.infoAboutDigits{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    max-width: max-content;
    margin:20px 20px 10px 20px;
}
.quantityWrapperInfo{
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0px 20px 0px 20px;
}
.tableHeaderNotFirst {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    background: #f7f6fe;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 4;
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    top: 16px;
}

.tableHeaderScrollable {
    justify-content: center;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background: #f7f6fe;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 1;
    height: 70px;
    min-height: 70px;
    box-sizing: border-box;
    top: 16px;
}


.tableOverHeader {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    font-size: 14px;
    top: 0;
    font-weight: bold;
    position: sticky;
    background: rgba(255, 255, 255, 1);
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: rgba(26, 26, 26, 1);
    min-height: 16px;
    border-bottom: none;
    z-index: 4;
    
}

.tableRow {
    justify-content: flex-start;
    height: 100%;
    min-height: 22px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    min-width: 150px;
    z-index: 0;
}



.tableHeaderScrollablLast {
  width: 10px;
  height: 70px;
  position: sticky;
  z-index: 1;
  top: 16px;
  background: #f7f6fe;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media screen and (max-width: 1080px) {
    .tableWrapperHeadder{
        flex-direction: column!important;
        align-items: flex-start!important;

}
.infoAboutDigits{
    display: flex;
    flex-direction: column!important;
    align-items: flex-start!important;

}
.quantityWrapperInfo{
    
    margin: 0px;
}
}