.block {
  width: 100%;
  /* box-shadow: 0px 0px 20px 0px #00000014; */
  background: #E4DEFF;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.block__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.block__column_right {
  background: white;
  border-radius: 12px;
  padding: 20px;
}

.block__titleWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.block__iconWrapper {
  width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background: #CEC3FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__title {
  margin: 0;
  padding: 0;
  font-family: Manrope;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.block__text {
  font-family: Manrope;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1A1A1A;
}

.block__text span {
  color: #5329FF
}

.block__columnFooter {
  width: 100%;
  background: #EFEBFF;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.block__footerIconWrapper {
  width: 32px;
  min-width: 32px;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  background: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__subtext {
  margin: 0;
  padding: 0;
  font-family: Manrope;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

.block__actionButton {
  width: 100%;
  border: none;
  background: #5329FF;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
}

.demoUserBlock {
  width: 100%;
  /* box-shadow: 0px 0px 20px 0px #00000014; */
  background: #EFECFE;
  padding: 20px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

.demoUserBlock__columnFooter {
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 8px 4px 4px;
}

.demoUserBlock__welcomeBlock {
  display: flex;
  gap: 20px;
}

.demoUserBlock__welcomeTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  min-height: 130px;
}

.demoUserBlock__title {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.demoUserBlock__text {
  font-weight: 600;
  font-size: 14px;

  p {
    margin-bottom: 10px;
  }
}

.demoUserBlock__subtext {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.demoUserBlock__iconWrapper {
  border-radius: 4px;
  background-color: #5329FF26;
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demoUserBlock__column_right {
  background: white;
  border-radius: 12px;
  padding: 16px;
  gap: 0;
}

/* MAIN PAGE BLOCK */


.demoUserMPBlock {
  width: 100%;
  background: #EFECFE;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid #5329FF33;
}

.demoUserMPBlock__header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.demoUserMPBlock__textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.demoUserMPBlock__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.demoUserMPBlock__actionButton {
  width: min-content;
  border: none;
  background: #5329FF;
  border-radius: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 0;
}