/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex: 0 0 auto;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

.page__filtersWrapper {
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
}

.page__segmentsWrapper {
    margin-top: 12px;
}

.page__controlsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.page__widgetWrapper {
    margin-top: 20px;
}