/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 0 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: stretch; */
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__mainWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    padding-right: 32px;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

.page__filtersWrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.page__tableSettingsBlock {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}