.widget {
    width: 100%;
    height: 450px;
    position: relative;
}

.widget__loaderWrapper {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}