.controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px 20px;
    flex-wrap: wrap;

    @media (max-width: 1500px) {
        gap: 4px 16px;
    }
}

.controls__controlWrapper {
    --checkbox-color: #5329FF;
}

.controls__checkbox {
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    @media (max-width: 1500px) {
        padding: 4px 0;
        gap: 4px;
    }
}

/* Скрыть стандартную галочку */
.controls__controlWrapper :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    display: none;
}

.controls__controlWrapper :global(.ant-checkbox-inner) {
    border-color: var(--checkbox-color) !important;
}

.controls__controlWrapper :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: var(--checkbox-color) !important;
    border-color: var(--checkbox-color) !important;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' viewBox='0 0 8 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.75 2.3573L3.28846 4.75L6.75 0.75' stroke='white' stroke-width='1.5' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px;
}

.controls__controlWrapper :global(.ant-checkbox:hover .ant-checkbox-inner) {
    border-color: var(--checkbox-color) !important;
}

.controls__controlWrapper :global(.ant-checkbox-checked:hover .ant-checkbox-inner) {
    background-color: var(--checkbox-color) !important;
    border-color: var(--checkbox-color) !important;
}

.controls__label {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.controls__deselectButton {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5329FF;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.controls__tooltipWrapper {
    cursor: pointer;
}

