.banner {
    width: 100%;
    min-height: 111px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px #0000000A;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 16px;
    cursor: pointer;
}

.banner__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-height: 87px;
    padding-right: 12px;
}

.banner__infoWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 16px;
}

.banner__offerBlock {
    background: #1A1A1A;
    height: 100%;
    border-radius: 10px;
    min-width: 177px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner__offerSubtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    margin: 0;
    padding: 0;

    @media (max-width: 1550px) {
        font-size: 14px;
    }
}

.banner__offerTitle {
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    color: white;
    margin: 0;
    padding: 0;

    @media (max-width: 1550px) {
        font-size: 28px;
    }
}

.banner__titleBlock {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.banner__mainTitle {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    color: #5329FF;

    @media (max-width: 1550px) {
        font-size: 24px;
    }
}

.banner__mainSubitle {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #1A1A1A;

    @media (max-width: 1550px) {
        font-size: 14px;
    }
}

.banner__button {
    border: none;
    background: transparent;
    display: flex;
    place-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #5329FF;
    align-self: flex-start;
}

.banner__body {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 20px;
    padding: 12px;
    min-height: 194px;
}

.banner__steps {
    width: 100%;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: auto;
    background: #F7F7F7;
}

.banner__stepsTitle {
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.banner__stepsList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner__stepsListItem {
    width: 100%;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

.banner__description {
    width: 100%;
    color: #1A1A1A;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
}

.banner__sidebarText {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #1A1A1A;

    @media (max-width: 1550px) {
        font-size: 16px;
    }
}

.banner__tgLink {
    background: white;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    place-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #5329FF;
    padding: 10px 12px;

    @media (max-width: 1550px) {
        font-size: 14px;
    }
}

.banner__bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 6px;

    @media (max-width: 1600px) {
        gap: 6px;
    }
}

.banner__barText {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    @media (max-width: 1550px) {
        font-size: 16px;
    }
}