.actionsCell {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.actionsCell button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.actionsCell button:hover {
    transform: scale(103%);
}

.parentCustomCell {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    gap: 8px;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.childCustomCell {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    padding-left: 27px;
    display: flex;
    align-items: center;
    gap: 8px;
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bar__compareValuesBlock {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding: 4px 8px;
    overflow: hidden;
    flex-shrink: 2;
    flex-grow: 0;
    width: fit-content;
    cursor: pointer;
    min-width: 40px;
}

.bar__comparativeValue {
    font-weight: 600;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-wrap: nowrap;
    white-space: nowrap;

}

.bar__absoluteValue {
    font-weight: 500;
    font-size: 8px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #1A1A1A;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    line-clamp: 1;
    text-overflow: ellipsis;
}

.bar__middleLine {
    height: 17px;
    max-height: 17px;
    width: 1px;
    min-width: 1px;
    flex-shrink: 0;
    flex-grow: 0;
    background: #0000001A;
}

.popoverContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    min-width: 155px;
}

.popoverContent__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #8C8C8C;
}

.popoverContent__title span {
    color: #1A1A1A;
}