.header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__title {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}