/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex: 0 0 auto;
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

.controls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

/* Report profit loss */

.container{
    flex-grow: 1;
    min-height: 450px;
    /* max-height: calc(100vh - 210px); */
}

/* table */

.cell {
    font-weight: 700;
}

:global(.ant-table-cell):has(:global(.ant-table-cell-direct)) {
    cursor: pointer;
    user-select: none;
}

:global(.ant-table-row):has(:global(.ant-table-cell-direct)) :global(.ant-table-cell):not(:has(:global(.ant-table-cell-direct))) {
    pointer-events: none;
}
:global(.ant-table-row):has(:global(.ant-table-cell-direct)) :global(.ant-table-cell):not(:has(:global(.ant-table-cell-direct))) span{
    cursor: text;
}

.cellProcent {
    font-weight: 500;
}
.summary{
    background-color: #F7F7F7;
}
