:global(.rc-virtual-list-scrollbar-thumb) {
    background-color: #A994FF !important;
}

/* Стили для квадратного чекбокса */
:global(.ant-checkbox-inner) {
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px !important;
}

:global(.ant-checkbox-checked .ant-checkbox-inner) {
    width: 20px !important;
    height: 20px !important;
    border-radius: 3px !important;
}

.plainSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    flex-grow: 1;
    min-width: 190px;
    max-width: 240px;
}

.plainSelect__label {
    font-family: Manrope;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: '#1A1A1A';
}

.plainSelect__selectWrapper {
    position: relative;
    width: 100%;
    height: 38px;
    max-height: 38px;
    min-height: 38px;
    box-sizing: border-box;
}

.plainSelect__select {
    width: 100%;
    /* height: 100%; */
    background: rgba(0, 0, 0, .05);
    border-radius: 8px;
    appearance: none;
    cursor: pointer;
    /* padding: 0px 32px 0px 16px; */
    font-family: Manrope;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0%;
    color: '#1A1A1A';
    /* border: 1px  solid rgb(33, 37, 41); */
    /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.plainSelect__select .ant-select-item:hover {
    color: #FF5733; /* Установите нужный цвет для ховера */
}

.plainSelect__iconWrapper {
    position: absolute;
    top: 0;
    right: 16px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plainSelect__multiLabel {
    max-width: 170px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    line-height: 100%;
    /* display: flex; */
    /* align-items: center; */
    margin: 0;
    padding: 0;
}

.plainSelect__ddLink {
    width: 100%;
    border-radius: 10px;
    background: #5329FF;
    color: white;
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 14px;
    transition: all .1s ease-in-out;
}

.plainSelect__ddLink:hover {
    color: white;
    opacity: .75;
    
}
