.container {
    position: relative;
    max-height: 90vh;
    padding: 8px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  }
    
  .tableContainer {
    position: relative;
    height: 100%;
    overflow: auto;
    /* Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #5329ff80 transparent;
  }

  .tableContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 3px;
}

.tableContainer::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #5329ff80;
}

.tableContainer::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}
  

  .expandBtn {
    margin-right: 12px;
    height: 18px;
  }
  
  .expandIcon{
    width: 14px;
  }
  
  .expandIconExpanded{
    transform: rotate(180deg);
  }
  
  .expandRow{
    opacity: 0.5;
  }
  
  /* :global(.ant-table-container),
  :global(.ant-table-header), 
  :global(.ant-table-body) {
    scroll-behavior: auto !important;
    scroll-behavior: auto;       /* Отключает плавный скролл *
    overscroll-behavior: none;   /* Отключает эффекты overscroll *
    -webkit-overflow-scrolling: auto; /* Для Safari *
  } */
  
  .sortIcons{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .loading{
    position: absolute;
    inset: 0;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .loadingProgress{
    margin-top: 60px;
    width: 60vw;
    max-width: 840px;
  }

  :global(.radar-table-default__body-cell-wrapper):has(.customCell[data-year-attribute="profitLossYearCell"]) {
    border-right: 1px solid #E8E8E8;
  }
  
  
  .customCell {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding: 6px 0px;
    height: 20px;
  }
  .customCellChildren {
    padding-left: 15px;
  }
  
  .customCellValueRub {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
  }


  
  .customCellValuePercent {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
  }


  .customCellValueText {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 1 !important;
  }


  .bodyRowSpecial:hover td div {
    background-color: #FAFAFA !important;
    transition: all 0.2s ease;
  }