.container {
    height: 100%;
    padding: 16px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  }
  
.tableContainer {
  height: 100%;
  overflow: auto;
}

.tableContainer::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 6px;
}
  
.tableContainer::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}
  
.tableContainer::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.tableContainer thead>tr>th:first-child {
  border-bottom-left-radius: 20px;
}

.tableContainer thead>tr>th:last-child {
  border-bottom-right-radius: 20px;
}

.tableContainer thead>tr>th {
  height: 70px;
}

.tableContainer thead>tr>th>div {
  gap: 8px;
}

.tableContainer thead>tr>th::before {
  height: 100% !important;
  background-color: #e8e8e8 !important;
}

.tableContainer .ant-table-column-title {
  flex: auto !important;
}

.expandBtn {
  margin-right: 12px;
  float: left;
}

.expandIcon{
  width: 14px;
}

.expandIconExpanded{
  transform: rotate(180deg);
}

.expandRow{
  opacity: 0.5;
}