.banner {
    width: 100%;
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;

    @media (max-width: 1390px) {
        padding: 24px;
    }
}

.banner__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 2;

    @media (max-width: 1390px) {
        gap: 8px;
    }
}

.banner__title {
    font-family: 'Manrope';
    width: 100%;
    max-width: 893px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: 0%;

    @media (max-width: 1700px) {
        font-size: 32px;
        line-height: 36px;
        max-width: 669px;
    }

    @media (max-width: 1390px) {
        font-size: 23px;
        line-height: 25px;
        max-width: 483px;
    }
}
.banner__title_small {
    font-size: 32px;
    line-height: 36px;

    @media (max-width: 1880px) {
        max-width: 669px;
    }
    @media (max-width: 1700px) {
        font-size: 24px;
        line-height: 28px;
        max-width: 571px;
    }

    @media (max-width: 1390px) {
        font-size: 16px;
        line-height: 18px;
        max-width: 390px;
    }
}

.banner__attentionBar {
    width: max-content;
    padding: 12px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #5329FF;
    background-color: #5329FF1A;
    border-radius: 8px;

    @media (max-width: 1700px) {
        font-size: 14px;
    }

    @media (max-width: 1390px) {
        padding: 8px;
        font-size: 10px;
    }
}
.banner__attentionBar_bottom {
    max-width: 622px;

    @media (max-width: 1430px) {
        max-width: 508px;
    }
    @media (max-width: 1320px) {
        max-width: 362px;
    }
}

.banner__subtitle {
    font-family: 'Manrope';
    width: 100%;
    max-width: 707px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;

    @media (max-width: 1700px) {
        font-size: 18px;
        max-width: 541px;
    }

    @media (max-width: 1390px) {
        font-size: 12px;
        max-width: 390px;
    }
}
.banner__altSubtitle {
    font-family: 'Manrope';
    width: 100%;
    max-width: 707px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;

    @media (max-width: 1700px) {
        font-size: 14px;
        max-width: 541px;
    }

    @media (max-width: 1390px) {
        font-size: 10px;
        max-width: 390px;
    }
}

.banner__buttons {
    width: 100%;
    max-width: 771px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @media (max-width: 1700px) {
        max-width: 571px;
    }

    @media (max-width: 1390px) {
        max-width: 400px;
    }
}

.banner__button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    background-color: #FFFFFF66;
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    cursor: default !important;

    @media (max-width: 1390px) {
        font-size: 10px;
        line-height: 12px;
        padding: 6px 8px;
    }
}

.banner__plainText {
    font-family: 'Manrope';
    width: 100%;
    max-width: 554px;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    @media (max-width: 1390px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.banner__backBullet {
    width: 100%;
    max-width: 395px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: #FFFFFF66;
}

.banner__backBullet span {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;

    @media (max-width: 1390px) {
        font-size: 10px;
        line-height: 12px;
    }
}

.banner__seoPlate {
    display: flex;
    gap: 12px;
    padding: 8px;
    border-radius: 8px;
    background-color:#FFFFFF66;
    max-width: 625px;

    @media (max-width: 1700px) {
        max-width: 492px;
    }

    @media (max-width: 1390px) {
        max-width: 350px;
    }
}

.banner__seoPlateText {
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;

    @media (max-width: 1700px) {
        font-size: 14px;
    }

    @media (max-width: 1390px) {
        font-size: 10px;
    }
}

.banner__seoPlateText span {
    color: #5329FF;
}

.banner__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    z-index: 2;
}

.banner__leadBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    flex-shrink: 1;

    @media (max-width: 1390px) {
        padding: 12px;
    }
}

.banner__leadBlockTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (max-width: 1390px) {
        gap: 2px;
    }
}

.banner__leadBlockTitle {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;

    @media (max-width: 1700px) {
        font-size: 18px;
    }

    @media (max-width: 1390px) {
        font-size: 12px;
    }
}

.banner__leadBlockSubtitle {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;

    @media (max-width: 1700px) {
        font-size: 12px;
        line-height: 140%;
    }

    @media (max-width: 1390px) {
        font-size: 8px;
    }
}

.banner__leadBlockButton {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: #5329FF;
    text-decoration: none;
    width: max-content;

    @media (max-width: 1700px) {
        padding: 8px 12px;
    }

    @media (max-width: 1390px) {
        font-size: 10px;
        padding: 6px 12px;
    }
}

.banner__backgroundWrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.banner__backgroundWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__mainImageWrapper {
    position: absolute;
    top: 0;
    right: -120px;
    bottom: 0;
    z-index: 1;

    @media (max-width: 1430px) {
       right: -35px
    }
    @media (max-width: 1380px) {
       right: -10px
    }
}

.banner__mainImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(0.85);
    transform-origin: right center;

    @media (max-width: 1430px) {
        transform: scale(1);
     }
}