.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    position: relative;
}

.widget__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
.widget__header_hidden {
    display: none;
}

.widget__innerLoader {
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,.7);
    height: 100%;
}

.widget__title {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.widget__chartWrapper {
    width: 100%;
    border-radius: 16px;
    background: white;
    padding: 24px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
}

.widget__controls {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
}

.widget__checkbox {
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 50%;
    /* gap: 8px; */

    @media (max-width: 1500px) {
        padding: 4px 0;
        /* gap: 4px; */
    }
}

.widget__checkboxLabel {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.widget__checkboxLabel > div {
    color: #1A1A1A80;
}

.loaderWrapper {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 1;
}

.errorWrapper {
    width: 100%;
    height: 598px;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.errorWrapper__message {
    display: flex;
    align-items: center;
    gap: 8px;
}
