.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.widget__tabsWrapper {}

.mainChart {
    width: 100%;
    padding: 16px;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    overflow: hidden;
}

.mainChart__title {
    margin: 0;
    padding: 0;
    font-family: Mulish;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}


.loaderWrapper {
    width: 100%;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4 / 1;
}

.errorWrapper {
    width: 100%;
    height: 598px;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: Mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
}

.errorWrapper__message {
    display: flex;
    align-items: center;
    gap: 8px;
}