.block {
    background: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    transition: all .1s ease-in-out;
    flex-shrink: 1;
    width: 100%;
    overflow: hidden;

    @media (max-width: 1360px) {
        grid-column: span 2;
        height: 407px;
    }
}

.block:hover {
    transform: scale(101%);
}

.block__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.block__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
}

.bar__loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__chart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.block__legend {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}
.block__legendWrapper {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px
}
.block__legendItemText {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #1A1A1A;
}
