.controls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px 8px;
    flex-wrap: wrap;

    @media (max-width: 1500px) {
        gap: 4px 16px;
    }
}

.controls__checkbox {
    padding: 8px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    @media (max-width: 1500px) {
        padding: 4px 0;
        gap: 4px;
    }
}

.controls__label {
    font-family: Mulish;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.controls__deselectButton {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    font-family: Mulish;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #5329FF;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.controls__tooltipWrapper {
    cursor: pointer;
}