:root {
  --main-bg: #F7F6FE;
  --primary-color: #5329FF;
  --secondary-color: #DDD4FF;
  --tet-color: #1A1A1A;
  --clue-color: #8C8C8C;
  --outline-color: #E8E8E8;
  --grow-green: rgba(0, 182, 155, 1);
  --red: rgba(249, 60, 101, 1);
}


* {
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: var(--main-bg);
}

.top-menu {
  position: relative;
}

.settings-modal {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  padding: 1rem;
  min-height: 160px;
  min-width: 240px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999999;
}

.settings-modal p {
  cursor: pointer;
}

.settings-modal p:hover {
  color: var(--primary-color);
}


.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px; */
  min-height: 100vh;
}

.signin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px; */
  min-height: 100vh;
}

.signup-form {
  background-color: white;
  /* min-height: 80vh; */
  width: 61vh;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  font-size: 1.95vh;
}

.signup-form input,
.signup-form select,
.signin-form input {
  font-size: 1.95vh;
  margin: 0.25vh 0;
}

.signup-form h1 {
  font-size: 3vh !important;
}

.signup-form button {
  padding: 1vw;
  width: 55vh;
}

.select-field {
  position: relative;
}

.select-field::after {
  content: '';
  position: absolute;
  top: 75%;
  right: 10px;
  transform: translateY(-50%);
  width: 12px;
  /* Ширина стрелки */
  height: 8px;
  /* Высота стрелки */
  background-image: url('/src/assets/arrow.png');
  /* Путь к изображению со стрелкой */
  background-repeat: no-repeat;
  background-position: center;
}

.signin-form {
  background-color: white;
  min-height: 50vh;
  width: 64vh;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  font-size: 2vh;
}

.filter-item label {
  font-size: 1.75vh;
}

.filter-item select {
  font-size: 1.75vh;
}

.medium-plate>div>img {
  max-width: 5vh !important;
}

.fields-container {
  width: 55vh;
}

label {
  font-weight: 500;
}

a.link {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
}

.input-field {
  width: 100%;
  position: relative;
}

input,
select {
  outline: none !important;
  box-shadow: none !important;
}

.prime-btn {
  border: none;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  width: 100%;
  padding: 20px 24px;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.95vh;
}

.secondary-btn {
  border: 2px solid var(--clue-color);
  background-color: white;
  color: var(--primary-color);
  border-radius: 8px;
  width: 100%;
  padding: 20px 24px;
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.95vh;
}

/* Onboarding page */
.onboarding-page {
  min-height: 100vh;
  display: flex;
}

.clue-text {
  color: var(--clue-color);
}

.prime-text {
  color: var(--primary-color);
  font-weight: 700;
}

.user-tokens {
  margin-top: 2rem;
}

.user-token-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.token-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
}

.token-inactive {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  padding: 8px 16px;
  background-color: rgba(249, 60, 101, 0.1);
  justify-content: flex-end;
  border-radius: 8px;
  max-width: 38vh;
}

.token-active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background-color: rgba(0, 182, 155, 0.1);
  justify-content: flex-end;
  border-radius: 8px;
  max-width: 38vh;
}

.token-active img,
.token-inactive img {
  width: 8px;
  height: 8px;
  margin-right: 8px;
}

.refresh-token-btn {
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
}

.onboard-form-block {
  min-height: 440px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.onboard-description {
  min-height: 440px;
  padding: 1rem;
  border-radius: 1rem;
}

.onboard-form-block p:first-child,
.onboard-description p:first-child {
  font-size: 2.5vh !important;
}

.onboard-form-block .text-center>p,
.onboard-form-block *,
.onboard-description * {
  font-size: 1.95vh !important;
}

.logo {
  max-width: 10vw;
  object-fit: contain;
}

.side-nav {
  width: 25vw;
  padding: 28px 20px;
  max-height: 100vh;
  position: sticky;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.sidenav-el {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.sidenav-title {
  color: var(--clue-color);
  font-weight: 500;
  margin-left: 10px;
  font-size: 2.25vh !important;
}

.sidenav-el img {
  width: 2vh;
}

.side-nav-icon {
  width: 20px;
}

.support-block {
  border-radius: 1rem;
  background-color: rgb(238, 238, 239);
  padding: 1rem;
  max-width: 25vw;
  font-size: 1.25vw;
}

.support-icon {
  width: 4vw;
  cursor: pointer;
}

.top-nav {
  padding: 12px;
  margin-top: 10px;
}

#root>div>div.dashboard-page>div.dashboard-content.pb-5>div.top-nav>div>div.d-flex.col.me-2,
#root>div>div.dashboard-page>div.dashboard-content.pb-5>div.top-nav>div>div.col-2.d-flex.justify-content-around.top-menu {
  height: 9vh !important;
}

.top-nav>div .col,
.top-nav>div .col-2 {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  padding: 24px 32px;
}



/* DASHBOARD */
.dashboard-page {
  min-height: 100vh;
  display: flex;
  position: relative;
}

.dashboard-content {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
}

.dash-container,
.linked-shops-container {
  max-width: 78vw !important;
}

.medium-plate {
  background-color: white;
  border-radius: 16px;
  min-height: 25vh;
  padding: 16px;
  min-width: 10vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

#root>div>div.linked-shops-page>div.linked-shops-content>div.container.linked-shops-container.d-flex>div:nth-child(1)>div.d-flex.justify-content-between>div:nth-child(1)>p.clue-text.p-0.m-0 {
  font-size: 1.95vh !important;
}

.wrapper {
  width: 100%;
}

.storage-table {
  background-color: white;
  border-radius: 16px;
  min-height: 60vh;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.chart-table {
  background-color: white;
  border-radius: 16px;
  min-height: 60vh;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.wide-plate {
  background-color: white;
  border-radius: 16px;
  min-height: 196px;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.finance-table {
  background-color: white;
  border-radius: 16px;
  min-height: 60vh;
  padding: 16px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  overflow-x: scroll;
}

.fin-row {
  border-top: 1px solid silver;
  padding: 8px 0;
  font-size: 2.5vh;
  white-space: nowrap;
  min-width: 80px;
}

.storage-table .fin-row,
.finance-table .fin-row {
  font-size: 1.95vh !important;
}

.finance-table .fin-row:nth-child(2) {
  font-size: 2.25vh !important;
  padding-right: 20px;
}

.finance-table .fin-row:nth-child(3) img {
  height: 1.25vh !important;
  margin-top: 0.5vh;
}

.finance-table .fin-row:nth-child(3) {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.5vh;
}

.finance-table .fin-row:nth-child(3) span {
  min-width: 40px;
  font-size: 1.5vh !important;
}

.storage-table div {
  display: flex;
  align-items: flex-start;
}

#root>div>div.dashboard-page>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(5)>div:nth-child(1)>div.storage-table.mt-3>div:nth-child(2)>span:nth-child(4) {
  font-size: 1.95vh !important;
}

.storage-table .fin-row:nth-child(4) {
  font-size: 1.95vh !important;
}

.chart-row-data img,
.row-chart img {
  max-width: 8vh !important;
}

.storage-table span {
  font-size: 14px !important;
}

.chart-table-row {
  margin-top: 1rem;
}

.chart-row-data {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.chart-row-data p:first-child,
.row-chart p:first-child {
  font-size: 2.25vh !important;
}

.row-chart {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-left: 10px;
  /* margin-left: ; */
}

.small-plate {
  background-color: white;
  border-radius: 16px;
  height: 12.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  min-width: 15vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.big-chart {
  background-color: white;
  border-radius: 16px;
  min-height: 500px;
  padding: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  margin-bottom: 16px;
}

/* Linked shops */
.linked-shops-page {
  min-height: 100vh;
  display: flex;
}

.linked-shops-content {
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
}

.top-nav .dash-container div:first-child {
  padding: 2vh !important;
}

.linked-shop-block {
  min-height: 20vw;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.linked-shop-block h3,
.linked-shop-block>div>div p {
  font-size: 2.75vh !important;
}

.linked-shop-block p,
.linked-shop-block span {
  font-size: 1.95vh;
}


/* Confirmation */
.confirmation-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: silver;
}

.form-check-label {
  font-weight: bold !important;
}

.hidden-checkbox {
  opacity: 0;
}

.toggle-block {
  padding: 4px;
  border: 1px solid silver;
  border-radius: 4px;
  min-width: 60px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  margin-left: 10px;
}

.toggler {
  /* background-color: rgba(232, 232, 232, 1); */
  border-radius: 4px;
  padding: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggler-active {
  background-color: rgba(232, 232, 232, 1);
  border-radius: 4px;
  padding: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#order+label {
  position: relative;
  padding-left: 25px;
  /* Отступ для чекбокса */
  cursor: pointer;
}

/* Создать вид для фоновой заливки */
#order+label:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -1px;
  width: 24px;
  /* Ширина чекбокса */
  height: 24px;
  /* Высота чекбокса */
  /* Граница чекбокса */
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 4px;
  /* Фоновая заливка */
}

/* Создать вид для галочки (если выбрано) */
#order:checked+label:before {
  background-color: rgba(240, 173, 0, 1);
  /* Цвет заливки при выборе */
}

/* Создать вид для галочки (иконки) */
#order+label:after {
  content: '\2713';
  /* Юникод символ галочки */
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 16px;
  /* Размер иконки */
  color: transparent;
  /* Цвет иконки */
  transition: all 0.2s;
  /* Плавное изменение цвета */
}

/* Создать вид для галочки (иконки), если выбрано */
#order:checked+label:after {
  color: #fff;
  /* Цвет иконки при выборе */
}

#sales+label {
  position: relative;
  padding-left: 25px;
  /* Отступ для чекбокса */
  cursor: pointer;
}

/* Создать вид для фоновой заливки */
#sales+label:before {
  content: '';
  position: absolute;
  left: -3px;
  top: -1px;
  width: 24px;
  /* Ширина чекбокса */
  height: 24px;
  /* Высота чекбокса */
  /* Граница чекбокса */
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 4px;
  /* Фоновая заливка */
}

/* Создать вид для галочки (если выбрано) */
#sales:checked+label:before {
  background-color: var(--primary-color);
  /* Цвет заливки при выборе */
}

/* Создать вид для галочки (иконки) */
#sales+label:after {
  content: '\2713';
  /* Юникод символ галочки */
  position: absolute;
  top: 0;
  left: 3px;
  font-size: 16px;
  /* Размер иконки */
  color: transparent;
  /* Цвет иконки */
  transition: all 0.2s;
  /* Плавное изменение цвета */
}

/* Создать вид для галочки (иконки), если выбрано */
#sales:checked+label:after {
  color: #fff;
  /* Цвет иконки при выборе */
}



.loader {
  color: var(--primary-color);
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em,
      2em -2em 0 0em, 3em 0 0 -1em,
      2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 0;
  }

  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em,
      3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  25% {
    box-shadow: 0 -3em 0 -0.5em,
      2em -2em 0 0, 3em 0 0 0.2em,
      2em 2em 0 0, 0 3em 0 -1em,
      -2em 2em 0 -1em, -3em 0 0 -1em,
      -2em -2em 0 -1em;
  }

  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em,
      -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em,
      -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }

  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0,
      -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }

  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em,
      3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }

  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em,
      3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em,
      -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.mockup-page {
  min-height: 100vh;
  padding-top: 45px;
  display: flex;
  background-color: white;
  overflow: hidden;
}

.mockup-start {
  height: 60vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mockup-end {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mockup-end img {
  height: 80vh;
  width: auto;
  object-position: contain;
  object-fit: contain;
  object-position: center;
}

.numbers {
  font-weight: 700;
  font-size: 2.75vh;
}

.small-title {
  font-size: 1.75vh;
}

.small-numbers {
  font-size: 1.55vh;
}

.medium-numbers {
  font-size: 2.25vh;
}

.tiny-numbers {
  font-size: 1.55vh !important;
  font-weight: 700;
}

.mobile-menu {
  display: none;
}

.hamburger {
  display: none !important;
}

@media screen and (max-width: 1080px) {

  .finance-table,
  .storage-table,
  .chart-table,
  .linked-shop-block {
    min-width: 90vw;
  }

  .top-nav .dash-container {
    display: flex;
    flex-direction: row;
    min-width: 90vw;
  }

  .dash-container,
  .linked-shops-container {
    display: flex;
    flex-direction: column;
    min-width: 90vw;
    padding: 1.75vh 0 !important;
  }

  .chart-wrapper {
    max-width: 90vw;
    overflow: scroll;
  }

  #root>div>div.dashboard-page>div.dashboard-content.pb-3>div:nth-child(3)>div:nth-child(2)>div>div>div.d-flex.justify-content-between.align-items-center {
    display: flex;
    flex-direction: column;
    width: 80vw !important;
  }

  .eyes {
    top: 34 px !important;
    right: 10px !important;
    width: 84vw !important;
    display: flex !important;
    justify-content: flex-end !important;
    font-size: 3vh !important;
  }

  .dashboard-content {
    overflow-x: hidden;
  }

  .side-nav {
    display: none;
  }

  .top-menu {
    display: none !important;
    font-size: 20px !important;
    width: 15vw !important;
    padding: 0 !important;
  }

  .hamburger {
    display: flex !important;
    font-size: 20px !important;
    width: 15vw !important;
    padding: 0 !important;
  }

  .hamburger svg {
    min-width: 6vw !important;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(1) {
    display: flex;
    flex-direction: column;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(2)>div {
    overflow-x: auto;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(2)>div>div>div {
    display: block !important;
    font-size: 12px;
    /* flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; */
  }

  .big-chart {
    min-width: 900px;
  }

  .big-chart canvas {
    overflow-x: scroll !important;
    min-height: 60vh !important;
    min-width: 860px !important;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(3),
  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(4) {
    display: flex;
    flex-direction: column;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(5) {
    display: flex;
    flex-direction: column;
  }

  .wrapper span {
    font-size: 1.75vh;
  }

  .fin-row:first-child {
    min-width: 190px !important;
  }

  .fin-row {
    min-width: 110px !important;
    padding-right: 10px;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(5)>div:nth-child(1)>div.finance-table span,
  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(5)>div:nth-child(1)>div.storage-table.mt-3 span {
    white-space: nowrap;
    margin-right: 4px;
    font-size: 1.75vh !important;
  }

  #root>div>div>div.dashboard-content.pb-5>div:nth-child(3)>div:nth-child(5)>div:nth-child(2)>div.finance-table .fin-row {
    min-width: 140px !important;
  }

  .storage-table {
    height: 300px;
    overflow-x: scroll !important;
  }

  .storage-table div {
    width: 420px;
  }

  .wide-plate {
    overflow-x: scroll;
  }

  .wide-plate div {
    width: 800px;
  }

  .chart-table .container {
    display: flex;
    gap: 2rem;
  }

  .chart-row-data,
  .row-chart,
  .linked-shops-content>.container,
  .boarding-content>.container {
    display: flex !important;
    flex-direction: column !important;
  }

  .filter-item {
    min-width: 104px;
    font-size: 14px;
  }

  .top-nav p {
    font-size: 2.5vh !important;
  }

  .mobile-menu {
    display: block;
    background-color: white;
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    left: -100vw;
    top: 0;
    z-index: 999999;
    padding: 2rem;
    transition: all 0.25s ease-in-out;
  }

  .mobile-open {
    left: 0;
    top: 0;
    transition: all 0.25s ease-in-out;
  }

  .mockup-page {
    overflow: hidden;
  }

  .mockup-wrapper {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
    width: 80vw;
    padding: 0 !important;
  }

  .mockup-start {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mockup-start p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px !important;
    width: 75vw;
    left: -200px;
    margin-top: 40px;
  }

  .mockup-end {
    padding-top: 40px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
  }

  .mockup-end img {
    height: 50vh;
    padding-bottom: 100px;
  }

  .signup-page {
    padding: 0;
  }

  .signup-form,
  .signin-form {
    width: 90vw !important;
  }

  .signin-form {
    padding: 24px 20px;
  }

  .logo {
    max-width: 150px !important;
  }

  .fields-container {
    width: 80vw;
  }

  .input-field {
    max-width: 80vw !important;
  }

  .signup-form button,
  .signin-form button {
    width: 80vw;
    padding: 16px 24px;
    font-size: 16px;
  }

  .signup-form input,
  .signup-form select,
  .signup-form label,
  .signin-form label {
    font-size: 1.75vh;
    max-width: 80vw !important;
  }

  #root>div>div>div>div:nth-child(4) {
    font-size: 1.75vh !important;
  }

  .signup-form div:last-child {
    width: 80vw;
  }

  #root>div>div>div>div:nth-child(5) {
    font-size: 14px;
  }

  .signup-form h1 {
    font-size: 18px !important;
  }

  /* .signup-form  */
}