.widget {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-content: stretch;
    gap: 20px;
}

.widget_1col {
    @media (max-width: 1350px) {
        grid-template-columns: 1fr;
    }
}