.list {
    padding-bottom: 12px;
    width: 100%;
    max-height: 496px;
    overflow: auto;
    row-gap: 12px;
    column-gap: 16px;
}

.list::-webkit-scrollbar {
    width: 3px;
    height: 5px;
    border-radius: 6px !important;
    opacity: 1;
}

.list::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

.list::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.item {
    padding-top: 2px;
    padding-bottom: 2px;
    width: 30%;
    max-width: 30%;
}

.controls {
    flex: 1 0 30%;
    margin-top: 12px;
    margin-left: auto;
}