.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 16px;
}

.block__header {
    width: 100%;
    position: relative;
    border-radius: 20px;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 75%;
    background-position: right;
    overflow: hidden;
}

.block__header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(287.63deg, #CBD9FE -37.69%, #D4E4FE 29.38%, #E6EFFF 60.89%, #FFFFFF 99.36%);
    opacity: .5;
    z-index: 0;
}

.block__headerCover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.block__headerCover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}

.block__title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.block__text {
    font-family: Manrope;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.block__coverWrapper {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #00000014;
}

.block__coverWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}