.widget {
    width: 100%;
    min-height: 660px;
    background: white;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    position: relative;
}

.widget::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border-radius: 6px;
}

.widget::-webkit-scrollbar-track {
    background: transparent;
    height: 50%;
    margin: 10px 20px;
}

.widget::-webkit-scrollbar-thumb {
    background: #5329ff80;
    border-radius: 6px;
}

.widget__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 16px;
    padding: 8px;
    padding-bottom: 0;
}

.widget__loaderWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget__dlButtonWrapperTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
}

.widget__dlButtonWrapper {
    width: 100%;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.table__actionButton {
    width: auto;
    min-width: 24px;
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    background: transparent;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
}


.customCell__query {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: inherit;
    max-width: inherit;
}

.customCell__queryTitle {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #1A1A1A;
    text-decoration: none;
}

.customCell__linksWrapper {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.widget :global(.radar-table__header-row > th) {
    height: 46px;
}

.widget :global(.radar-table__body-cell) {
    height: 70px !important;
}

.bodyRowSpecial {
    height: 70px;

    &:hover {
        td div {
            background-color: #FAFAFA !important;
            transition: background-color 0.2s ease;
        }
    }
}