/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}
.page__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    width: calc(100% - 74px);
    padding: 20px 32px;
    flex-grow: 1;
    flex-shrink: 0;

    .page__content__widgets {
        display: flex;
        gap: 20px;
        height: 580px;
        align-items: stretch;
        margin-bottom: 20px;

        @media (max-width: 1366px) {
            height: 780px;
        }

        @media (max-width: 1280px) {
            height: 800px;
        }
    }
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}