/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.page__content {
    width: calc(100% - 74px);
    padding: 20px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    flex: 0 0 auto
    
}
.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}
.page__headerWrapper {
    width: 100%;
}

/* Report */

.controls{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
}

.container {
}

:global(.table__arrow){
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
}

:global(.table__arrow_static::after){
    content: "";
    width: 12px;
    height: 2px;
    background: #8C8C8C;
}
:global(.table__arrow_static svg){
    display: none;
}

:global(.table__arrow_positive){
    color: #00b6b9;
}

:global(.table__arrow_negative){
    color: #f93c65;
}

:global(.table__arrow_negative svg){
    transform: rotate(180deg) scale(-1, 1);
}

.btns{
    display: flex;
    flex-flow: row nowrap;
    gap: 12px;
}
