.filter{
  margin-bottom: 16px;
}

.form{
  flex-grow: 1;
}

.input{
  flex-grow: 1;
}

.clear__icon{
  width: 15px;
  fill: #8C8C8C;
}

.check_all{
  margin-bottom: 12px;
}

.list {
  width: 100%;
}

.item {
  padding-top: 2px;
  padding-bottom: 2px;
}

.controls {
  flex: 1 0 30%;
  margin-left: auto;
}