.block {
    width: 100%;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: self-start;
    padding: 16px;
    box-shadow: 0px 0px 20px 0px #00000014;
    gap: 16px;
}

.block__title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    margin: 0;
    padding: 0;

    @media (max-width: 1350px) {
        font-size: 20px;
    }
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 12px;
    row-gap: 8px;
}

.table__title {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 0;
    color: #8C8C8C;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (max-width: 1350px) {
        font-size: 13px;
    }
}

.table__border {
    grid-column: 1 / -1;
    border-bottom: 1px solid #E8E8E8;
}

.table__item {
    font-family: Manrope;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    padding: 4px 0;

    @media (max-width: 1350px) {
        font-size: 13px;
        padding: 2px 0;
    }
}

.table__item_bolder {
    font-weight: 700;
}

