/* Page */

.page {
    background-color: #F7F6FE;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    min-width: 1200px;
}

.page__content {
    width: 100%;
    padding: 30px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: hidden;

}

.page__sideNavWrapper {
    height: 100%;
    width: auto;
    overflow: visible;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
}

.page__headerWrapper {
    width: 100%;
}



.box {
    width: 780px;
    min-height: 715px;
    padding: 40px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px #00000014;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.box__title {
    font-family: Manrope;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #5329FF;
    margin: 0;
    padding: 0;
}

.box__imgWrapper {
    width: 100%;
}

.box__imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}

.box__text {
    font-family: Manrope;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1A1A1A;
    margin: 0;
    padding: 0;
}

.box__text_small {
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
}