.widget {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    flex-grow: 1;
    max-height: calc(100% - 90px);
}

.widget__controlsWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.widget__addButton {
    height: 38px;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    background: #5329FF;
    font-weight: 600;
    font-size: 14px;
    color: white;
    transition: all .1s ease-in-out;
}

.widget__addButton:hover {
    background: #7a52ff;
}

.widget__tableWrapper {
    width: 100%;
    height: auto;
    flex-grow: 1;
    max-height: 620px;
    overflow-y: scroll;
    box-shadow: 0px 0px 20px 0px #00000014;
    border-radius: 12px;
}

.widget__tableWrapper::-webkit-scrollbar {
    width: 6px;
    /* Ширина скроллбара */
}

.widget__tableWrapper::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона трека */
    margin-top: 80px;
    margin-bottom: 20px;
}

.widget__tableWrapper::-webkit-scrollbar-thumb {
    background-color: #5329FF80;
    /* Цвет полосы прокрутки */
    border-radius: 4px;
    /* Скругленные углы */
    border: 2px solid transparent;
    /* Добавляем прозрачный отступ */
}

.widget__loaderWrapper {
    width: 100%;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 0px #00000014;
    aspect-ratio: 4 / 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table */

.table {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    background: white;
    padding: 0 16px 16px;
}

.table__headerContainer {
    width: 100%;
    background: white;
    padding-top: 16px;
    position: sticky;
    top: 0;
}

.table__header {
    width: 100%;
    background: #F7F6FE;
    min-height: 56px;
    max-height: 56px;
    height: 80px;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 17px;
    border-radius: 12px;
}

.table__headerItem {
    height: 100%;
    width: 33%;
    min-width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.table__headerItem:last-of-type {
    justify-content: flex-end;
}

.table__headerItemTitle {
    margin: 0;
    padding: 0;
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #8C8C8C;
}

.table__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.table__row {
    width: 100%;
    height: 56px;
    min-height: 56px;
    max-height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E8E8E8;
    padding: 5px 17px;
    gap: 20px;
}

.table__row:last-of-type {
    border: none;
}

.table__rowItem {
    width: 33%;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    padding-right: 20px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
   
}

.table__rowItem:last-of-type {
    justify-content: flex-end;
    padding: 0;
}

.table__rowTitle {
    font-family: Manrope;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #5329FF;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.table__rowImgWrapper {
    width: 30px;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.table__rowImgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.table__actionButton {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.table__actionButton:hover {
    transform: scale(103%);
}