.controls {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.controls__controlWrapper {}

.controls__label {
    font-family: Manrope;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1A1A1A;
    white-space: nowrap;
}

.controls__selectAllButton {
    border: none;
    color: var(--primary-color);
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}